{
  "openapi": "3.0.3",
  "info": {
    "title": "VARSITYMART API",
    "version": "v1",
    "description": "\n# VarsityMart - Campus Marketplace API\n\n## Authentication\nThis API uses JWT authentication.\n\n### Getting Started:\n1. Register at `/v1/auth/register/`\n2. Verify email at `/v1/auth/verify-email/`\n3. Login at `/v1/auth/login/` to get tokens\n4. Use token: `Authorization: Bearer {token}`\n\n## Account Capabilities\nEvery account is created as a regular **user** (buyer-by-default —\nanyone authenticated can purchase). Selling is an additive\ncapability: users opt in via the \"Become a Seller\" flow and are\ngranted seller permissions once an admin approves their KYC.\n\nInternal staff roles set manually by admins:\n- **admin**: Platform administration\n- **delivery**: Delivery partner\n\n## University Requirements\n- Students must use university email (.edu., .edu.gh, .ac.gh)\n- Student ID required for verification\n\n##  WebSocket Chat API\n\n**Interactive Test Client:** [Open WebSocket Chat Tester](/websocket-test/)  \n**Full Documentation:** [WebSocket API Reference](/websocket-docs/)\n\n> The WebSocket API handles real-time messaging between users (buyers, sellers, and delivery partners).\n\n### Quick Connection Info\n```\nDevelopment: ws://127.0.0.1:8000/ws/chat/{conversation_id}/\nProduction: wss://api.varsitymart.org/ws/chat/{conversation_id}/\n```\n\n### Authentication\nThe WebSocket automatically reads the JWT from the HttpOnly cookie set during login. No token parameter needed!\nThe browser automatically sends cookies on WebSocket connections to the same domain.\n\n",
    "contact": {
      "email": "manfredyegbe@gmail.com"
    },
    "license": {
      "name": "BSD License"
    }
  },
  "servers": [
    {
      "url": "https://api.varsitymart.org/v1"
    }
  ],
  "paths": {
    "/admin/cleanup-stats/": {
      "get": {
        "operationId": "admin_cleanup-stats_list",
        "tags": [
          "admin"
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/admin/dashboard/": {
      "get": {
        "summary": "Get Admin Dashboard",
        "description": "Retrieve admin dashboard overview with platform statistics, recent activity, and popular categories",
        "operationId": "admin_dashboard_list",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Dashboard data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "overview": {
                          "type": "object",
                          "properties": {
                            "totalUsers": {
                              "type": "integer"
                            },
                            "activeStores": {
                              "type": "integer"
                            },
                            "activeRestaurants": {
                              "type": "integer"
                            },
                            "totalProducts": {
                              "type": "integer"
                            },
                            "totalOrders": {
                              "type": "integer"
                            },
                            "totalRevenue": {
                              "type": "number"
                            },
                            "platformCommission": {
                              "type": "number"
                            }
                          }
                        },
                        "recentActivity": {
                          "type": "object",
                          "properties": {
                            "newUsers": {
                              "type": "integer"
                            },
                            "newOrders": {
                              "type": "integer"
                            },
                            "newListings": {
                              "type": "integer"
                            },
                            "pendingDisputes": {
                              "type": "integer"
                            }
                          }
                        },
                        "popularCategories": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided"
          },
          "403": {
            "description": "Admin permission required"
          }
        }
      }
    },
    "/admin/disputes/": {
      "get": {
        "summary": "Get All Disputes",
        "description": "Retrieve all disputes with pagination, ordered by most recent first",
        "operationId": "admin_disputes_list",
        "tags": [
          "Admin",
          "Disputes"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items per page (default 10, max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Disputes retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "disputes": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "currentPage": {
                              "type": "integer"
                            },
                            "totalPages": {
                              "type": "integer"
                            },
                            "totalItems": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials were not provided"
          },
          "403": {
            "description": "Admin permission required"
          }
        }
      }
    },
    "/admin/disputes/{dispute_id}/resolve/": {
      "post": {
        "summary": "Resolve Dispute",
        "description": "Resolve an open dispute by determining resolution and issuing refund if applicable",
        "operationId": "admin_disputes_resolve_create",
        "tags": [
          "Admin",
          "Disputes"
        ],
        "parameters": [
          {
            "name": "dispute_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dispute_id",
            "in": "path",
            "description": "Dispute ID to resolve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "resolution"
                ],
                "type": "object",
                "properties": {
                  "resolution": {
                    "description": "Resolution decision",
                    "type": "string",
                    "enum": [
                      "buyer_win",
                      "seller_win",
                      "partial_refund",
                      "no_refund"
                    ],
                    "example": "buyer_win"
                  },
                  "refundAmount": {
                    "description": "Refund amount if applicable",
                    "type": "number",
                    "example": 99.99
                  },
                  "notes": {
                    "description": "Resolution notes",
                    "type": "string",
                    "example": "Item was damaged during shipping",
                    "maxLength": 500
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Dispute resolved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Dispute resolved"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "disputeId": {
                          "type": "string"
                        },
                        "resolution": {
                          "type": "string"
                        },
                        "refundAmount": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Authentication credentials were not provided"
          },
          "403": {
            "description": "Admin permission required"
          },
          "404": {
            "description": "Dispute not found"
          }
        }
      },
      "parameters": [
        {
          "name": "dispute_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/admin/flagged-messages/": {
      "get": {
        "description": "List flagged messages with optional filters for days and reason. Admin only.",
        "operationId": "admin_flagged-messages_list",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "description": "Number of days to look back",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 7
            }
          },
          {
            "name": "reason",
            "in": "query",
            "description": "Filter by flag reason (spam, contact_info, inappropriate)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Flagged messages and totals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "messages": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "totals": {
                          "type": "object"
                        },
                        "pagination": {
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Admin privileges required"
          }
        }
      }
    },
    "/admin/kyc/pending/": {
      "get": {
        "summary": "List Pending KYC Applications",
        "description": "\nReturns every user whose KYC review is currently in `pending` state,\nordered by submission time (oldest first).\n\n### Notes:\n- Requires **staff / admin** credentials.\n- `seller_type` is derived from any Store / Restaurant the user\n  already owns (`products` / `food`). At first-time KYC the user\n  will not own anything yet, so this field is typically `null`\n  during review — the seller type chosen on the application form\n  is informational and is not persisted.\n- `kyc_document_type` is always `null` until a dedicated KYC\n  submission model is added; clients should degrade gracefully.\n",
        "operationId": "admin_kyc_pending_list",
        "tags": [
          "Admin — KYC Review"
        ],
        "responses": {
          "200": {
            "description": "List of pending KYC applicants"
          },
          "401": {
            "description": "Authentication credentials were not provided."
          },
          "403": {
            "description": "You do not have permission to perform this action."
          }
        }
      }
    },
    "/admin/kyc/{userId}/review/": {
      "patch": {
        "summary": "Approve or Reject a KYC Application",
        "description": "\nApproves or rejects the seller KYC application for the specified user.\n\n### Approve (`action: \"approve\"`):\n1. Sets `kyc_status` → `approved` and records `kyc_verified_at`.\n2. Sends an approval email to the applicant.\n\n### Reject (`action: \"reject\"`):\n1. Sets `kyc_status` → `rejected`.\n2. Sends a rejection email to the applicant (with optional `notes`\n   as the reason).\n\n### Notes:\n- Requires **staff / admin** credentials.\n- KYC is identity verification only. No Store or Restaurant record is\n  created, activated or deleted by this endpoint — sellers manage\n  their own storefront separately via the create-store / create-\n  restaurant flows after approval.\n- The email notification is best-effort; an SMTP failure will be\n  logged but will **not** roll back the review decision.\n- The entire state change runs inside an atomic transaction with a\n  row-level lock on the user record to prevent concurrent reviews.\n",
        "operationId": "admin_kyc_review_partial_update",
        "tags": [
          "Admin — KYC Review"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "UUID of the user whose KYC application is being reviewed.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/_KYCAction"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Review decision applied successfully"
          },
          "400": {
            "description": "Invalid request body (e.g. unknown action)."
          },
          "401": {
            "description": "Authentication credentials were not provided."
          },
          "403": {
            "description": "You do not have permission to perform this action."
          },
          "404": {
            "description": "User not found"
          }
        }
      },
      "parameters": [
        {
          "name": "userId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/admin/listings/{listing_id}/review/": {
      "post": {
        "summary": "Review Product Listing",
        "description": "Review and approve or reject a product listing",
        "operationId": "admin_listings_review_create",
        "tags": [
          "Admin",
          "Listings"
        ],
        "parameters": [
          {
            "name": "listing_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listing_id",
            "in": "path",
            "description": "Product ID to review",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "action"
                ],
                "type": "object",
                "properties": {
                  "action": {
                    "description": "Review action",
                    "type": "string",
                    "enum": [
                      "approve",
                      "reject"
                    ],
                    "example": "approve"
                  },
                  "notes": {
                    "description": "Optional review notes",
                    "type": "string",
                    "example": "Listing meets all requirements"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Listing reviewed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Listing reviewed"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "listingId": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "approve",
                            "reject"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Authentication credentials were not provided"
          },
          "403": {
            "description": "Admin permission required"
          },
          "404": {
            "description": "Product not found"
          }
        }
      },
      "parameters": [
        {
          "name": "listing_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/admin/message-reports/": {
      "get": {
        "description": "List message reports with optional reviewed filter and pagination. Admin only.",
        "operationId": "admin_message-reports_list",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "reviewed",
            "in": "query",
            "description": "Filter by reviewed status (true/false)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "days",
            "in": "query",
            "description": "Number of days to look back",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 7
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Message reports list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Admin privileges required"
          }
        }
      }
    },
    "/admin/message-reports/{report_id}/review/": {
      "post": {
        "description": "Review a message report and take action (approve, reject, take_action). Admin only.",
        "operationId": "admin_message-reports_review_create",
        "tags": [
          "admin"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "report_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "report_id",
            "in": "path",
            "description": "UUID of the report",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "action"
                ],
                "type": "object",
                "properties": {
                  "action": {
                    "description": "approve | reject | take_action",
                    "type": "string",
                    "example": "approve"
                  },
                  "action_taken": {
                    "description": "Optional description of action taken",
                    "type": "string"
                  },
                  "user_action": {
                    "description": "Target user for action: reporter | sender",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Action taken"
          },
          "400": {
            "description": "Invalid action"
          },
          "404": {
            "description": "Report not found"
          }
        }
      },
      "parameters": [
        {
          "name": "report_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/admin/trigger-cleanup/": {
      "post": {
        "description": "Manually trigger cleanup task",
        "operationId": "admin_trigger-cleanup_create",
        "tags": [
          "admin"
        ],
        "responses": {
          "201": {
            "description": ""
          }
        }
      }
    },
    "/admin/users/": {
      "get": {
        "description": "List all users with optional filters",
        "operationId": "admin_users_list",
        "tags": [
          "admin"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "format": "uri",
                      "x-nullable": true
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri",
                      "x-nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AdminUser"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/users/{user_id}/suspend/": {
      "post": {
        "summary": "Suspend User",
        "description": "Suspend a user account for a specified duration",
        "operationId": "admin_users_suspend_create",
        "tags": [
          "Admin",
          "Users"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "description": "User ID to suspend",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "reason",
                  "duration"
                ],
                "type": "object",
                "properties": {
                  "reason": {
                    "description": "Reason for suspension",
                    "type": "string",
                    "example": "Violation of terms of service"
                  },
                  "duration": {
                    "description": "Suspension duration. '7d' = 7 days, '30d' = 30 days, 'permanent' = indefinite ban",
                    "type": "string",
                    "enum": [
                      "7d",
                      "30d",
                      "permanent"
                    ],
                    "example": "30d"
                  },
                  "details": {
                    "description": "Additional details about the suspension (optional)",
                    "type": "string",
                    "example": "User repeatedly violated community guidelines"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User suspended successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "User suspended successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "userId": {
                          "type": "string"
                        },
                        "suspendedUntil": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Authentication credentials were not provided"
          },
          "403": {
            "description": "Admin permission required"
          },
          "404": {
            "description": "User not found"
          }
        }
      },
      "parameters": [
        {
          "name": "user_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/auth/become-a-seller/": {
      "post": {
        "summary": "Submit Seller Activation Request",
        "description": "\nSubmit identity-verification (KYC) to become a seller on VarsityMart.\n\n### Process:\n1. User must have a verified email before applying.\n2. The user's `kyc_status` is set to `pending` until an admin approves\n   or rejects it.\n3. **No** Store or Restaurant record is created at this stage. After\n   KYC approval the seller can create up to 2 listings without a\n   store; beyond that they must create a Store via the dedicated\n   create-store endpoint.\n\n### Constraints:\n- A user with `kyc_status` of `pending` or `approved` cannot re-apply.\n- `seller_type` and `kyc_document_type` are recorded for admin review.\n- `kyc_document` (image of the ID card) and `kyc_selfie` (photo of the\n  user holding the card) are both uploaded to Cloudinary and their\n  URLs are stored on the user record.\n",
        "operationId": "auth_become-a-seller_create",
        "tags": [
          "Seller Activation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "seller_type": {
                    "type": "string"
                  },
                  "kyc_document_type": {
                    "type": "string"
                  },
                  "kyc_document": {
                    "type": "file"
                  },
                  "kyc_selfie": {
                    "type": "file"
                  }
                },
                "required": [
                  "seller_type",
                  "kyc_document_type",
                  "kyc_document",
                  "kyc_selfie"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Application submitted successfully"
          },
          "400": {
            "description": "Bad request — duplicate application or already a seller"
          },
          "401": {
            "description": "Authentication credentials were not provided."
          },
          "403": {
            "description": "Email not verified"
          }
        }
      }
    },
    "/auth/check-status/": {
      "get": {
        "summary": "Check Authentication Status",
        "description": "\nCheck if the current request has valid authentication cookies.\n\n### What it checks:\n1. Valid access token in HTTP-only cookie\n2. User account status (active, verified)\n3. Returns minimal user information\n\n### Use Cases:\n- App initialization to check login state\n- Periodic authentication checks\n- Detecting expired sessions\n- Getting current user info without full profile\n\n### Response includes:\n- Whether user is authenticated\n- Basic user information\n- Token expiration information\n- Account status flags\n",
        "operationId": "auth_check-status_list",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Authentication status"
          },
          "401": {
            "description": "Not authenticated"
          }
        }
      }
    },
    "/auth/forgot-password/": {
      "post": {
        "summary": "Request Password Reset",
        "description": "\nRequest a password reset link to be sent to the user's email address.\n\n### Process:\n1. User provides registered email address\n2. System generates unique reset token (valid for 24 hours)\n3. Reset link with token is sent to the email\n4. User clicks link to reset password\n\n### Security Features:\n- Reset tokens are unique UUIDs\n- Tokens expire after 24 hours for security\n- Each token can only be used once\n- No indication if email doesn't exist (prevents user enumeration)\n\n### Rate Limiting:\n- Limited to 3 requests per email per hour\n- Global rate limiting applied to prevent abuse\n\n### Email Content:\nThe email will contain:\n- Password reset link with token\n- User's full name for personalization\n- Token expiry information (24 hours)\n- Security notice about unsolicited requests\n",
        "operationId": "auth_forgot-password_create",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "email"
                ],
                "type": "object",
                "properties": {
                  "email": {
                    "description": "Registered email address to send reset link",
                    "type": "string",
                    "format": "email",
                    "example": "student@university.edu.gh"
                  }
                },
                "example": {
                  "email": "student@university.edu.gh"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password reset email sent successfully"
          },
          "400": {
            "description": "Bad Request - Validation Error"
          },
          "404": {
            "description": "Not Found - Security Response"
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded"
          }
        }
      }
    },
    "/auth/google/": {
      "post": {
        "summary": "Google OAuth Login",
        "description": "\nAuthenticate using a Google `id_token` obtained from the Google Sign-In SDK.\n\n### Flow:\n1. Client uses Google Sign-In SDK to get an `id_token`\n2. Client POSTs `{\"id_token\": \"eyJ...\"}` to this endpoint\n3. Backend verifies the token with Google\n4. Backend finds or creates a user (auto-verified, auth_method='google')\n5. Returns user data + sets HttpOnly JWT cookies\n\n### Two-step onboarding:\nThe response includes `isNewUser` and `profileComplete` flags:\n- If `isNewUser: true` or `profileComplete: false`, the client should\n  show a \"Complete your profile\" screen and then call\n  `PATCH /v1/users/me/` with `university`, `campus`, `phone`, etc.\n- If `profileComplete: true`, the user can proceed directly to the app.\n\n### Notes:\n- If a user with the same email already exists (e.g. registered via email/password),\n  the account is linked and the user is logged in — no data is overwritten.\n- Suspended or deactivated accounts are rejected with 403.\n- University and campus default to empty strings for Google sign-ups;\n  the user must complete their profile before full app access.\n",
        "operationId": "auth_google_create",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "id_token"
                ],
                "type": "object",
                "properties": {
                  "id_token": {
                    "description": "Google OAuth2 id_token from the client SDK",
                    "type": "string",
                    "example": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9..."
                  }
                },
                "example": {
                  "id_token": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9..."
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful"
          },
          "400": {
            "description": "Bad request — missing or invalid id_token"
          },
          "401": {
            "description": "Token verification failed"
          },
          "403": {
            "description": "Account suspended"
          }
        }
      }
    },
    "/auth/login/": {
      "post": {
        "summary": "User Login",
        "description": "\nAuthenticate a user with email and password.\n\n### Authentication Flow:\n1. User provides email and password\n2. System validates credentials\n3. If successful, returns JWT tokens\n4. User can use access token for subsequent requests\n\n### Verification Requirements:\n- **Email/Password users**: Must verify email before login\n- **Google OAuth users**: No email verification required\n\n### Account Status Checks:\n- Account must be active (`is_active=True`)\n- Email must be verified (for credentials auth)\n- Account must not be suspended\n\n### Token Information:\n- **access_token**: Used for API authentication (60 minutes )\n- **refresh_token**: Used to obtain new access tokens (7 days)\n\n### Headers for Authenticated Requests:\n```\nAuthorization: Bearer <access_token>\n```\n\n### Rate Limiting:\n- 5 failed attempts within 15 minutes triggers temporary lockout\n- Use password reset if account is locked\n",
        "operationId": "auth_login_create",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "email",
                  "password"
                ],
                "type": "object",
                "properties": {
                  "email": {
                    "description": "User's registered email address",
                    "type": "string",
                    "format": "email",
                    "example": "student@university.edu.gh",
                    "maxLength": 255
                  },
                  "password": {
                    "description": "User's password",
                    "type": "string",
                    "format": "password",
                    "example": "SecurePassword123",
                    "writeOnly": true
                  }
                },
                "example": {
                  "email": "john.doe@university.edu.gh",
                  "password": "SecurePass123"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful"
          },
          "400": {
            "description": "Bad Request - Validation Error"
          },
          "401": {
            "description": "Unauthorized - Authentication Failed"
          },
          "403": {
            "description": "Forbidden - Account Locked"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/auth/logout/": {
      "post": {
        "summary": "User Logout",
        "description": "\nLogout user and invalidate refresh token.\n\n### Logout Types:\n1. **Single Device Logout**: Invalidates the provided refresh token only\n2. **Multi-Device Logout**: Optionally blacklist all user's refresh tokens\n\n### What Happens:\n- Provided refresh token is blacklisted (cannot be used again)\n- Access token remains valid until expiration (cannot be revoked immediately)\n- User must provide credentials to login again\n- Optional: Can blacklist all user's refresh tokens for complete logout\n\n### Security Notes:\n- This endpoint requires a valid access token\n- Blacklisting prevents refresh token reuse\n- Access tokens cannot be immediately invalidated (JWT limitation)\n- Consider using short access token lifetimes (15-30 minutes)\n\n### Multiple Device Considerations:\n- Logout on one device doesn't affect other devices\n- For complete logout from all devices, use logout_all endpoint\n- Users can see active sessions in their profile\n\n### After Logout:\n- User cannot refresh access token with blacklisted refresh token\n- API requests with expired access token will fail\n- User must login again for new tokens\n",
        "operationId": "auth_logout_create",
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [],
                "type": "object",
                "properties": {
                  "refresh_token": {
                    "description": "Refresh token to blacklist (optional for single device logout)",
                    "type": "string",
                    "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  },
                  "logout_all": {
                    "description": "If true, blacklists all refresh tokens for this user",
                    "type": "boolean",
                    "default": false
                  }
                },
                "example": {
                  "refresh_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                  "logout_all": false
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Logout successful"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/auth/refresh-token/": {
      "post": {
        "operationId": "auth_refresh-token_create",
        "tags": [
          "auth"
        ],
        "responses": {
          "201": {
            "description": ""
          }
        }
      }
    },
    "/auth/register/": {
      "post": {
        "summary": "User Registration",
        "description": "\nRegister a new user on VarsityMart.\n\n- **Student registration**: If `is_student` is `true`, `student_id` is required.\n- **Email domain**: Students must use a university email (containing `.edu`, `.edu.gh`, or `.ac.gh`). Disposable email domains are blocked.\n- **Verification**: A 6‑digit verification code is sent to the email address. The code expires after 24 hours.\n- **Authentication method**: Default is `credentials` (email + password). If `google` is used, the user is created without password (OAuth flow handled separately).\n- **Cookies**: On success, HTTP‑only cookies containing JWT tokens are set automatically.\n\n**Note:** Even if the verification email fails to send immediately, the registration is still considered successful and a background task will retry sending it.\n",
        "operationId": "auth_register_create",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "firstName",
                  "lastName",
                  "email",
                  "phone",
                  "password",
                  "confirmPassword",
                  "university",
                  "campus",
                  "agreeToTerms"
                ],
                "type": "object",
                "properties": {
                  "firstName": {
                    "description": "User's first name",
                    "type": "string",
                    "example": "John"
                  },
                  "lastName": {
                    "description": "User's last name",
                    "type": "string",
                    "example": "Doe"
                  },
                  "email": {
                    "description": "Email address (must be valid and not disposable)",
                    "type": "string",
                    "format": "email",
                    "example": "john.doe@university.edu.gh"
                  },
                  "phone": {
                    "description": "Phone number with country code",
                    "type": "string",
                    "example": "+233201234567"
                  },
                  "password": {
                    "description": "Password (min. 8 characters)",
                    "type": "string",
                    "format": "password",
                    "example": "SecurePass123",
                    "minLength": 8
                  },
                  "confirmPassword": {
                    "description": "Must match password field",
                    "type": "string",
                    "format": "password",
                    "example": "SecurePass123"
                  },
                  "studentId": {
                    "description": "Required if `isStudent` is `true`",
                    "type": "string",
                    "example": "UGBS123456"
                  },
                  "isStudent": {
                    "description": "Whether the user is a student",
                    "type": "boolean",
                    "default": true
                  },
                  "university": {
                    "description": "Name of the university",
                    "type": "string",
                    "example": "University of Ghana"
                  },
                  "campus": {
                    "description": "Campus location",
                    "type": "string",
                    "example": "Legon"
                  },
                  "agreeToTerms": {
                    "description": "Must be `true` to register",
                    "type": "boolean",
                    "default": false
                  },
                  "authMethod": {
                    "description": "Authentication method (default: credentials)",
                    "type": "string",
                    "enum": [
                      "credentials",
                      "google"
                    ],
                    "default": "credentials"
                  },
                  "profilePic": {
                    "description": "URL to profile picture (optional)",
                    "type": "string",
                    "format": "uri",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Registration successful (user created, cookies set)"
          },
          "400": {
            "description": "Validation error (missing fields, invalid data, disposable email, etc.)"
          },
          "409": {
            "description": "Conflict – user with this email or phone already exists"
          },
          "500": {
            "description": "Unexpected server error (e.g., database issue before user creation)"
          }
        }
      }
    },
    "/auth/resend-verification/": {
      "post": {
        "summary": "Resend Verification Email",
        "description": "\nResend a new 6-digit OTP verification code with 3-hour account expiry reminder.\n\n### Important Notes:\n- Previous verification code is invalidated\n- New code has 24-hour validity period\n- Account will be deleted if not verified within 3 hours\n- Rate limited to prevent abuse (max 3 requests per hour)\n\n### Email Content Includes:\n- New 6-digit OTP verification code\n- 3-hour account expiry warning\n- Time remaining for verification\n- Account deletion consequences\n\n### Account Expiry Timeline:\n1. Registration: 3-hour timer starts\n2. Resend email: Timer does NOT reset\n3. 3 hours pass: Account automatically deleted\n4. Email becomes available for re-registration\n\n### Email Resolution:\n- If `email` is provided in the request body, the user is looked up by that email.\n- Otherwise, falls back to the authenticated user's email (if a valid token is supplied).\n",
        "operationId": "auth_resend-verification_create",
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "description": "Email address of the account to resend verification to. Optional if the request is authenticated; required otherwise.",
                    "type": "string",
                    "format": "email",
                    "example": "student@university.edu.gh"
                  }
                },
                "example": {
                  "email": "student@university.edu.gh"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification email sent successfully"
          },
          "400": {
            "description": "Bad Request - Email already verified"
          },
          "410": {
            "description": "Account Expired - Deleted"
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded"
          }
        }
      }
    },
    "/auth/reset-password/": {
      "post": {
        "summary": "Reset Password",
        "description": "\nReset user password using the token received via email.\n\n### Requirements:\n1. Valid reset token from email link\n2. New password (minimum 8 characters)\n3. Password confirmation\n\n### Security Features:\n- Token must be valid and not expired (24-hour validity)\n- Token can only be used once (single-use)\n- All existing sessions are invalidated after reset\n- Previous passwords cannot be reused\n- Strong password validation enforced\n\n### Token Validation:\nThe token is validated for:\n- Existence in database\n- Not expired (24 hours from creation)\n- Not previously used\n- Associated with valid user account\n\n### After Successful Reset:\n1. User password is updated\n2. Reset token is marked as used\n3. All existing JWT refresh tokens are blacklisted\n4. User must login with new password\n\n### Note:\nThis endpoint does not require authentication since the user\nmay not be logged in when resetting password.\n",
        "operationId": "auth_reset-password_create",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "reset_token",
                  "new_password",
                  "confirm_password"
                ],
                "type": "object",
                "properties": {
                  "reset_token": {
                    "description": "Reset token received via email link",
                    "type": "string",
                    "example": "123e4567-e89b-12d3-a456-426614174000"
                  },
                  "new_password": {
                    "description": "New password (minimum 8 characters)",
                    "type": "string",
                    "format": "password",
                    "example": "NewSecurePass123",
                    "minLength": 8
                  },
                  "confirm_password": {
                    "description": "Must match new_password field",
                    "type": "string",
                    "format": "password",
                    "example": "NewSecurePass123"
                  }
                },
                "example": {
                  "reset_token": "123e4567-e89b-12d3-a456-426614174000",
                  "new_password": "NewSecurePass123",
                  "confirm_password": "NewSecurePass123"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password reset successful"
          },
          "400": {
            "description": "Bad Request - Validation Error"
          },
          "410": {
            "description": "Gone - Token expired"
          }
        }
      }
    },
    "/auth/seller-status/": {
      "get": {
        "summary": "Get Seller Activation Status",
        "description": "\nReturns the seller-capability snapshot for the currently authenticated user.\n\n### Response fields:\n- **kyc_status**: Current KYC review state\n  (`not_submitted`, `pending`, `approved`, `rejected`).\n- **has_store**: Whether the user has created a Store\n  (derived from actual ownership).\n- **has_restaurant**: Whether the user has created a Restaurant\n  (derived from actual ownership).\n- **seller_type**: Derived seller type — `products` if the user owns\n  a Store, `food` if they own a Restaurant, otherwise `null`. KYC\n  itself no longer commits the user to a seller type; the type is\n  inferred from what the user later creates.\n- **submitted_at**: ISO-8601 timestamp of the KYC submission, or\n  `null` if not submitted.\n",
        "operationId": "auth_seller-status_list",
        "tags": [
          "Seller Activation"
        ],
        "responses": {
          "200": {
            "description": "Seller status snapshot"
          },
          "401": {
            "description": "Authentication credentials were not provided."
          }
        }
      }
    },
    "/auth/verify-email/": {
      "post": {
        "summary": "Verify Email Address",
        "description": "\nVerify user's email address using the 6-digit OTP code.\n\n### Important Security Notes:\n- User must verify within 3 hours or account will be deleted\n- Verification code expires in 24 hours\n- Maximum 10 verification attempts before rate limiting\n- Account cleanup runs every 15 minutes via Celery\n\n### After Successful Verification:\n- Email is marked as verified (`is_verified=True`)\n- 3-hour account expiry timer is cleared\n- Verification code and expiry are cleared\n- User gains access to verified-only features\n\n### Account Expiry Warning:\nIf user doesn't verify within 3 hours:\n- Account is automatically deleted via Celery task\n- Email address becomes available for re-registration\n- All user data is permanently removed\n\n### Email Resolution:\n- If `email` is provided in the request body, the user is looked up by that email.\n- Otherwise, falls back to the authenticated user's email (if a valid token is supplied).\n",
        "operationId": "auth_verify-email_create",
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "verification_code"
                ],
                "type": "object",
                "properties": {
                  "email": {
                    "description": "Email address of the account being verified. Optional if the request is authenticated; required otherwise.",
                    "type": "string",
                    "format": "email",
                    "example": "student@university.edu.gh"
                  },
                  "verification_code": {
                    "description": "6-digit OTP verification code received via email",
                    "type": "string",
                    "pattern": "^[0-9]{6}$",
                    "example": "123456",
                    "maxLength": 6,
                    "minLength": 6
                  }
                },
                "example": {
                  "email": "student@university.edu.gh",
                  "verification_code": "123456"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email verified successfully"
          },
          "400": {
            "description": "Bad Request - Validation Error"
          },
          "410": {
            "description": "Account Expired - Deleted"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/cart": {
      "get": {
        "summary": "Get Cart",
        "description": "Retrieve the authenticated user's shopping cart with all items, totals, and counts.",
        "operationId": "cart_list",
        "tags": [
          "Cart"
        ],
        "responses": {
          "200": {
            "description": "Cart retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "description": "List of cart items",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "description": "UUID of the cart item",
                                "type": "string",
                                "format": "uuid",
                                "example": "550e8400-e29b-41d4-a716-446655440000"
                              },
                              "product": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "format": "uuid",
                                    "example": "660e8400-e29b-41d4-a716-446655440001"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "Wireless Headphones"
                                  },
                                  "price": {
                                    "type": "number",
                                    "format": "decimal",
                                    "example": 79.99
                                  },
                                  "image": {
                                    "type": "string",
                                    "example": "https://api.example.com/media/products/headphones.jpg"
                                  },
                                  "slug": {
                                    "type": "string",
                                    "example": "wireless-headphones"
                                  },
                                  "in_stock": {
                                    "type": "boolean",
                                    "example": true
                                  }
                                }
                              },
                              "quantity": {
                                "type": "integer",
                                "example": 2,
                                "minimum": 1
                              },
                              "unit_price": {
                                "description": "Price per unit at time of adding to cart",
                                "type": "number",
                                "format": "decimal",
                                "example": 79.99
                              },
                              "subtotal": {
                                "description": "Quantity × unit_price",
                                "type": "number",
                                "format": "decimal",
                                "example": 159.98
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time",
                                "example": "2023-12-01T10:30:00Z"
                              },
                              "updated_at": {
                                "type": "string",
                                "format": "date-time",
                                "example": "2023-12-01T10:30:00Z"
                              }
                            }
                          }
                        },
                        "total": {
                          "description": "Cart subtotal (sum of all item subtotals)",
                          "type": "number",
                          "format": "decimal",
                          "example": 159.98
                        },
                        "item_count": {
                          "description": "Total number of items in cart",
                          "type": "integer",
                          "example": 2
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Authentication credentials were not provided."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cart/add": {
      "post": {
        "summary": "Add to Cart",
        "description": "Add a product to the user's shopping cart. If the product already exists in the cart, the quantity will be updated to the new value.",
        "operationId": "cart_add_create",
        "tags": [
          "Cart"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "product_id",
                  "quantity"
                ],
                "type": "object",
                "properties": {
                  "product_id": {
                    "description": "UUID of the product to add to cart",
                    "type": "string",
                    "format": "uuid",
                    "example": "660e8400-e29b-41d4-a716-446655440001"
                  },
                  "quantity": {
                    "description": "Quantity to add (must be at least 1)",
                    "type": "integer",
                    "example": 2,
                    "maximum": 99,
                    "minimum": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Item quantity updated successfully (existing item)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Item added to cart successfully"
                    },
                    "data": {
                      "description": "Updated cart item",
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Item added to cart successfully (new item)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Item added to cart successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "550e8400-e29b-41d4-a716-446655440000"
                        },
                        "product": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "example": "660e8400-e29b-41d4-a716-446655440001"
                            },
                            "name": {
                              "type": "string",
                              "example": "Wireless Headphones"
                            },
                            "price": {
                              "type": "number",
                              "format": "decimal",
                              "example": 79.99
                            },
                            "image": {
                              "type": "string",
                              "example": "https://api.example.com/media/products/headphones.jpg"
                            },
                            "slug": {
                              "type": "string",
                              "example": "wireless-headphones"
                            },
                            "in_stock": {
                              "type": "boolean",
                              "example": true
                            }
                          }
                        },
                        "quantity": {
                          "type": "integer",
                          "example": 2
                        },
                        "unit_price": {
                          "type": "number",
                          "format": "decimal",
                          "example": 79.99
                        },
                        "subtotal": {
                          "type": "number",
                          "format": "decimal",
                          "example": 159.98
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2023-12-01T10:30:00Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2023-12-01T10:30:00Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Validation failed"
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "example": {
                        "product_id": [
                          "This field is required."
                        ],
                        "quantity": [
                          "Quantity must be at least 1."
                        ],
                        "non_field_errors": [
                          "Product is out of stock."
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Authentication credentials were not provided."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Product not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Product not found"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "product_id": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "Product with ID 660e8400-e29b-41d4-a716-446655440001 does not exist."
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cart/clear": {
      "delete": {
        "summary": "Clear Cart",
        "description": "Remove all items from the authenticated user's shopping cart. This action cannot be undone.",
        "operationId": "cart_clear_delete",
        "tags": [
          "Cart"
        ],
        "responses": {
          "200": {
            "description": "Cart cleared successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Cart cleared successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Authentication credentials were not provided."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cart/{itemId}": {
      "patch": {
        "summary": "Update Cart Item",
        "description": "Update the quantity of a specific item in the user's cart. Only the owner of the cart can update items.",
        "operationId": "cart_partial_update",
        "tags": [
          "Cart"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "itemId",
            "in": "path",
            "description": "UUID of the cart item to update",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "quantity"
                ],
                "type": "object",
                "properties": {
                  "quantity": {
                    "description": "New quantity for the cart item (must be at least 1)",
                    "type": "integer",
                    "example": 3,
                    "maximum": 99,
                    "minimum": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cart item updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Cart updated successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "550e8400-e29b-41d4-a716-446655440000"
                        },
                        "product": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "example": "660e8400-e29b-41d4-a716-446655440001"
                            },
                            "name": {
                              "type": "string",
                              "example": "Wireless Headphones"
                            },
                            "price": {
                              "type": "number",
                              "format": "decimal",
                              "example": 79.99
                            },
                            "image": {
                              "type": "string",
                              "example": "https://api.example.com/media/products/headphones.jpg"
                            },
                            "slug": {
                              "type": "string",
                              "example": "wireless-headphones"
                            },
                            "in_stock": {
                              "type": "boolean",
                              "example": true
                            }
                          }
                        },
                        "quantity": {
                          "type": "integer",
                          "example": 3
                        },
                        "unit_price": {
                          "type": "number",
                          "format": "decimal",
                          "example": 79.99
                        },
                        "subtotal": {
                          "type": "number",
                          "format": "decimal",
                          "example": 239.97
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2023-12-01T10:30:00Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2023-12-01T11:45:00Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid quantity or insufficient stock",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Only 5 items available"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Authentication credentials were not provided."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Permission denied - Not the owner of this cart item",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "You do not have permission to perform this action."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Cart item not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Not found."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "itemId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/cart/{itemId}/remove": {
      "delete": {
        "summary": "Remove from Cart",
        "description": "Remove a specific item from the user's shopping cart. Only the owner of the cart can remove items.",
        "operationId": "cart_remove_delete",
        "tags": [
          "Cart"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "itemId",
            "in": "path",
            "description": "UUID of the cart item to remove",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Item removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Item removed from cart"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Authentication credentials were not provided."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Permission denied - Not the owner of this cart item",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "You do not have permission to perform this action."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Cart item not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Not found."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "itemId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/conversations/": {
      "get": {
        "operationId": "conversations_list",
        "tags": [
          "conversations"
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/conversations/start/": {
      "post": {
        "operationId": "conversations_start_conversation",
        "tags": [
          "conversations"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "other_user_id"
                ],
                "type": "object",
                "properties": {
                  "other_user_id": {
                    "description": "UUID of the user to start or continue a conversation with",
                    "type": "string",
                    "format": "uuid",
                    "example": "3fa85f64-5717-4562-b3fc-2c963f66afaa6"
                  },
                  "product_id": {
                    "description": "Optional product context for the initial message",
                    "type": "string",
                    "format": "uuid",
                    "example": "3fa85f64-5717-4562-b3fc-2c963f66afaa6"
                  },
                  "initial_message": {
                    "description": "Optional initial message text",
                    "type": "string",
                    "example": "Is this still available?"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conversation already exists"
          },
          "201": {
            "description": "Conversation created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "conversation": {
                          "type": "object"
                        }
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Not authorized"
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    },
    "/conversations/start_conversation/": {
      "post": {
        "operationId": "conversations_start_conversation",
        "tags": [
          "conversations"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "other_user_id"
                ],
                "type": "object",
                "properties": {
                  "other_user_id": {
                    "description": "UUID of the user to start or continue a conversation with",
                    "type": "string",
                    "format": "uuid",
                    "example": "3fa85f64-5717-4562-b3fc-2c963f66afaa6"
                  },
                  "product_id": {
                    "description": "Optional product context for the initial message",
                    "type": "string",
                    "format": "uuid",
                    "example": "3fa85f64-5717-4562-b3fc-2c963f66afaa6"
                  },
                  "initial_message": {
                    "description": "Optional initial message text",
                    "type": "string",
                    "example": "Is this still available?"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conversation already exists"
          },
          "201": {
            "description": "Conversation created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "conversation": {
                          "type": "object"
                        }
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Not authorized"
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    },
    "/conversations/{id}/mark_read/": {
      "post": {
        "operationId": "conversations_mark_read",
        "tags": [
          "conversations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/conversations/{id}/messages/": {
      "get": {
        "description": "Retrieve a paginated list of messages for a specific conversation. Only participants (buyer or seller) can view the messages.",
        "operationId": "conversations_messages",
        "tags": [
          "conversations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "UUID of the conversation",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of messages with pagination metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "description": "Total number of messages in the conversation",
                      "type": "integer"
                    },
                    "next": {
                      "description": "URL to the next page of results",
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "previous": {
                      "description": "URL to the previous page of results",
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "results": {
                      "type": "object",
                      "properties": {
                        "messages": {
                          "description": "Array of message objects",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "sender": {
                                "description": "Sender username or ID",
                                "type": "string"
                              },
                              "text": {
                                "type": "string"
                              },
                              "timestamp": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "flagged": {
                                "type": "boolean"
                              },
                              "flag_reason": {
                                "type": "string",
                                "nullable": true
                              }
                            }
                          }
                        },
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "currentPage": {
                              "type": "integer"
                            },
                            "totalPages": {
                              "type": "integer"
                            },
                            "totalItems": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "User is not authorized to view this conversation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Conversation not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/conversations/{id}/send_message/": {
      "post": {
        "operationId": "conversations_send_message",
        "tags": [
          "conversations"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the conversation",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "text"
                ],
                "type": "object",
                "properties": {
                  "text": {
                    "description": "The message content",
                    "type": "string",
                    "example": "Is this still available?"
                  },
                  "product_id": {
                    "description": "UUID of the related product",
                    "type": "string",
                    "format": "uuid",
                    "example": "3fa85f64-5717-4562-b3fc-2c963f66afaa6"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "messageId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "flagged": {
                          "type": "boolean"
                        },
                        "flagReason": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (validation error)"
          },
          "403": {
            "description": "Not authorized"
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/devices/register/": {
      "post": {
        "summary": "Register/Update Device",
        "description": "\nRegister a new device or update existing device with push notification token.\n\n**Token Type Detection:**\n- For iOS devices, the system automatically detects APN tokens based on format:\n  - 64-character hexadecimal strings (traditional APN tokens)\n  - Strings starting with 'APNS' (newer APN tokens)\n- All other devices use FCM tokens by default\n\n**Note:** The frontend continues to send 'fcm_token' field for all devices.\nThe backend automatically determines if it's an FCM or APN token based on format.\n",
        "operationId": "devices_register_create",
        "tags": [
          "Devices"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer token for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
[...]
