{"swagger": "2.0", "info": {"title": "VARSITYMART API", "description": "\n# VarsityMart - Campus Marketplace API\n\n## Authentication\nThis API uses JWT authentication.\n\n### Getting Started:\n1. Register at `/v1/auth/register/`\n2. Verify email at `/v1/auth/verify-email/`\n3. Login at `/v1/auth/login/` to get tokens\n4. Use token: `Authorization: Bearer {token}`\n\n## User Roles\n- **buyer**: Browse and purchase items\n- **seller**: List and sell products\n- **admin**: Platform administration\n- **delivery**: Delivery partner\n\n## University Requirements\n- Students must use university email (.edu., .edu.gh, .ac.gh)\n- Student ID required for verification\n\n##  WebSocket Chat API\n\n**Interactive Test Client:** [Open WebSocket Chat Tester](/websocket-test/)  \n**Full Documentation:** [WebSocket API Reference](/websocket-docs/)\n\n> The WebSocket API handles real-time messaging between users (buyers, sellers, and delivery partners).\n\n### Quick Connection Info\n```\nDevelopment: ws://127.0.0.1:8000/ws/chat/{conversation_id}/?token={access_token}\nProduction: wss://api.varsitymart.org/ws/chat/{conversation_id}/?token={access_token}\n```\n\n", "termsOfService": "https://www.varsitymart.com/terms/", "contact": {"email": "manfredyegbe@gmail.com"}, "license": {"name": "BSD License"}, "version": "v1"}, "host": "api.varsitymart.org", "schemes": ["https"], "basePath": "/v1", "consumes": ["application/json"], "produces": ["application/json"], "securityDefinitions": {"Bearer": {"type": "apiKey", "name": "Authorization", "in": "header"}}, "security": [{"Bearer": []}], "paths": {"/admin/cleanup-stats/": {"get": {"operationId": "admin_cleanup-stats_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["admin"]}, "parameters": []}, "/admin/flagged-messages/": {"get": {"operationId": "admin_flagged-messages_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["admin"]}, "parameters": []}, "/admin/message-reports/": {"get": {"operationId": "admin_message-reports_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["admin"]}, "parameters": []}, "/admin/message-reports/{report_id}/review/": {"post": {"operationId": "admin_message-reports_review_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["admin"]}, "parameters": [{"name": "report_id", "in": "path", "required": true, "type": "string"}]}, "/admin/trigger-cleanup/": {"post": {"operationId": "admin_trigger-cleanup_create", "description": "Manually trigger cleanup task", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["admin"]}, "parameters": []}, "/auth/check-status/": {"get": {"operationId": "auth_check-status_list", "summary": "Check Authentication Status", "description": "\nCheck if the current request has valid authentication cookies.\n\n### What it checks:\n1. Valid access token in HTTP-only cookie\n2. User account status (active, verified)\n3. Returns minimal user information\n\n### Use Cases:\n- App initialization to check login state\n- Periodic authentication checks\n- Detecting expired sessions\n- Getting current user info without full profile\n\n### Response includes:\n- Whether user is authenticated\n- Basic user information\n- Token expiration information\n- Account status flags\n", "parameters": [], "responses": {"200": {"description": "Authentication status", "examples": {"application/json": {"success": true, "data": {"isAuthenticated": true, "user": {"id": "123e4567-e89b-12d3-a456-426614174000", "email": "user@example.com", "fullName": "John Doe", "role": "buyer", "isVerified": true}, "tokens": {"accessExpiresIn": 300, "refreshExpiresIn": 604800}}}}}, "401": {"description": "Not authenticated", "examples": {"application/json": {"success": true, "data": {"isAuthenticated": false, "user": null, "tokens": null}}}}}, "tags": ["Authentication"], "security": []}, "parameters": []}, "/auth/forgot-password/": {"post": {"operationId": "auth_forgot-password_create", "summary": "Request Password Reset", "description": "\nRequest a password reset link to be sent to the user's email address.\n\n### Process:\n1. User provides registered email address\n2. System generates unique reset token (valid for 24 hours)\n3. Reset link with token is sent to the email\n4. User clicks link to reset password\n\n### Security Features:\n- Reset tokens are unique UUIDs\n- Tokens expire after 24 hours for security\n- Each token can only be used once\n- No indication if email doesn't exist (prevents user enumeration)\n\n### Rate Limiting:\n- Limited to 3 requests per email per hour\n- Global rate limiting applied to prevent abuse\n\n### Email Content:\nThe email will contain:\n- Password reset link with token\n- User's full name for personalization\n- Token expiry information (24 hours)\n- Security notice about unsolicited requests\n", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["email"], "type": "object", "properties": {"email": {"description": "Registered email address to send reset link", "type": "string", "format": "email", "example": "student@university.edu.gh"}}, "example": {"email": "student@university.edu.gh"}}}], "responses": {"200": {"description": "Password reset email sent successfully", "examples": {"application/json": {"success": true, "message": "Password reset link sent to your email", "data": {"email": "student@university.edu.gh", "expiresIn": "24 hours", "sentAt": "2024-01-15T10:30:00Z"}}}}, "400": {"description": "Bad Request - Validation Error", "examples": {"application/json": {"success": false, "errors": {"email": ["Enter a valid email address."]}}}}, "404": {"description": "Not Found - Security Response", "examples": {"application/json": {"success": true, "message": "If an account exists with this email, a reset link has been sent."}}}, "429": {"description": "Too Many Requests - Rate limit exceeded", "examples": {"application/json": {"success": false, "message": "Too many reset requests. Please try again in 1 hour."}}}}, "tags": ["Authentication"], "security": []}, "parameters": []}, "/auth/login/": {"post": {"operationId": "auth_login_create", "summary": "User Login", "description": "\nAuthenticate a user with email and password.\n\n### Authentication Flow:\n1. User provides email and password\n2. System validates credentials\n3. If successful, returns JWT tokens\n4. User can use access token for subsequent requests\n\n### Verification Requirements:\n- **Email/Password users**: Must verify email before login\n- **Google OAuth users**: No email verification required\n\n### Account Status Checks:\n- Account must be active (`is_active=True`)\n- Email must be verified (for credentials auth)\n- Account must not be suspended\n\n### Token Information:\n- **access_token**: Used for API authentication (60 minutes )\n- **refresh_token**: Used to obtain new access tokens (7 days)\n\n### Headers for Authenticated Requests:\n```\nAuthorization: Bearer <access_token>\n```\n\n### Rate Limiting:\n- 5 failed attempts within 15 minutes triggers temporary lockout\n- Use password reset if account is locked\n", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["email", "password"], "type": "object", "properties": {"email": {"description": "User's registered email address", "type": "string", "format": "email", "example": "student@university.edu.gh", "maxLength": 255}, "password": {"description": "User's password", "type": "string", "format": "password", "example": "SecurePassword123", "writeOnly": true}}, "example": {"email": "john.doe@university.edu.gh", "password": "SecurePass123"}}}], "responses": {"200": {"description": "Login successful", "examples": {"application/json": {"success": true, "message": "Login successful", "data": {"user": {"id": "123e4567-e89b-12d3-a456-426614174000", "fullName": "John Doe", "email": "john.doe@university.edu.gh", "phone": "+233201234567", "avatar": "👤", "isVerified": true, "kycStatus": "verified", "role": "buyer", "rating": 4.5, "university": "University of Ghana", "campus": "Legon", "studentId": "UGBS123456", "hasStore": false, "hasRestaurant": false, "totalReviews": 10}}}}}, "400": {"description": "Bad Request - Validation Error", "examples": {"application/json": {"success": false, "errors": {"email": ["This field is required."], "password": ["This field is required."]}}}}, "401": {"description": "Unauthorized - Authentication Failed", "examples": {"application/json": [{"success": false, "errors": {"email": ["No user found with this email address."]}}, {"success": false, "errors": {"password": ["Invalid password."]}}, {"success": false, "errors": {"account": ["This account has been deactivated."]}}, {"success": false, "errors": {"email": ["Please verify your email address before logging in."]}}]}}, "403": {"description": "Forbidden - Account Locked", "examples": {"application/json": {"success": false, "errors": {"account": ["Account temporarily locked due to too many failed attempts. Try again in 15 minutes."]}}}}, "429": {"description": "Too Many Requests", "examples": {"application/json": {"success": false, "errors": {"detail": "Too many login attempts. Please try again later."}}}}}, "tags": ["Authentication"], "security": []}, "parameters": []}, "/auth/logout/": {"post": {"operationId": "auth_logout_create", "summary": "User Logout", "description": "\nLogout user and invalidate refresh token.\n\n### Logout Types:\n1. **Single Device Logout**: Invalidates the provided refresh token only\n2. **Multi-Device Logout**: Optionally blacklist all user's refresh tokens\n\n### What Happens:\n- Provided refresh token is blacklisted (cannot be used again)\n- Access token remains valid until expiration (cannot be revoked immediately)\n- User must provide credentials to login again\n- Optional: Can blacklist all user's refresh tokens for complete logout\n\n### Security Notes:\n- This endpoint requires a valid access token\n- Blacklisting prevents refresh token reuse\n- Access tokens cannot be immediately invalidated (JWT limitation)\n- Consider using short access token lifetimes (15-30 minutes)\n\n### Multiple Device Considerations:\n- Logout on one device doesn't affect other devices\n- For complete logout from all devices, use logout_all endpoint\n- Users can see active sessions in their profile\n\n### After Logout:\n- User cannot refresh access token with blacklisted refresh token\n- API requests with expired access token will fail\n- User must login again for new tokens\n", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": [], "type": "object", "properties": {"refresh_token": {"description": "Refresh token to blacklist (optional for single device logout)", "type": "string", "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."}, "logout_all": {"description": "If true, blacklists all refresh tokens for this user", "type": "boolean", "default": false}}, "example": {"refresh_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...", "logout_all": false}}}], "responses": {"200": {"description": "Logout successful", "examples": {"application/json": [{"success": true, "message": "Logged out successfully", "data": {"logoutType": "single_device", "tokensBlacklisted": 1, "loggedOutAt": "2024-01-15T10:30:00Z"}}, {"success": true, "message": "Logged out successfully from all devices", "data": {"logoutType": "all_devices", "tokensBlacklisted": 3, "loggedOutAt": "2024-01-15T10:30:00Z"}}]}}, "400": {"description": "Bad Request", "examples": {"application/json": {"success": false, "errors": {"refresh_token": ["This field is required for single device logout."]}}}}, "401": {"description": "Unauthorized", "examples": {"application/json": {"success": false, "errors": {"detail": "Authentication credentials were not provided."}}}}, "403": {"description": "Forbidden", "examples": {"application/json": {"success": false, "errors": {"detail": "You do not have permission to perform this action."}}}}}, "tags": ["Authentication"], "security": [{"Bearer": []}]}, "parameters": []}, "/auth/refresh-token/": {"post": {"operationId": "auth_refresh-token_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["auth"]}, "parameters": []}, "/auth/register/": {"post": {"operationId": "auth_register_create", "summary": "User Registration", "description": "\nRegister a new user account on VarsityMart.\n\n### Student Registration Requirements:\n1. Must use a university email address (containing .edu., .edu.gh, or .ac.gh)\n2. Student ID is required if `is_student` is `true`\n3. Must agree to terms and conditions\n\n### Verification:\n- A 6-digit verification code will be sent to the user's email\n- The code expires in 24 hours\n- User must verify email before full access (some endpoints may be restricted)\n\n### User Roles:\n- `buyer`: Can browse and purchase items\n- `seller`: Can list and sell items\n- `admin`: Platform administrator\n- `delivery`: Delivery partner\n\n### Authentication Method:\n- `credentials`: Email/password login (default)\n- `google`: Google OAuth login\n", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["full_name", "email", "phone", "password", "confirm_password", "university", "campus", "agree_to_terms"], "type": "object", "properties": {"full_name": {"description": "User's full name", "type": "string", "example": "John Doe"}, "email": {"description": "University email address for students", "type": "string", "format": "email", "example": "john.doe@university.edu.gh"}, "phone": {"description": "Phone number with country code", "type": "string", "example": "+233201234567"}, "password": {"description": "Password (minimum 8 characters)", "type": "string", "format": "password", "example": "SecurePass123", "minLength": 8}, "confirm_password": {"description": "Must match password field", "type": "string", "format": "password", "example": "SecurePass123"}, "student_id": {"description": "Required if is_student is true", "type": "string", "example": "UGBS123456"}, "is_student": {"description": "Whether the user is a student", "type": "boolean", "default": true}, "university": {"description": "University name", "type": "string", "example": "University of Ghana"}, "campus": {"description": "Campus location", "type": "string", "example": "Legon"}, "agree_to_terms": {"description": "Must be true to register", "type": "boolean", "default": false}, "role": {"description": "User role", "type": "string", "enum": ["buyer", "seller", "admin", "delivery"], "default": "buyer"}, "auth_method": {"description": "Authentication method", "type": "string", "enum": ["credentials", "google"], "default": "credentials"}, "profile_pic": {"description": "URL to profile picture", "type": "string", "format": "uri", "nullable": true}}}}], "responses": {"201": {"description": "Registration successful", "examples": {"application/json": {"success": true, "message": "Registration successful. Please verify your email.", "data": {"userId": "123e4567-e89b-12d3-a456-426614174000", "user": {"id": "123e4567-e89b-12d3-a456-426614174000", "fullName": "John Doe", "email": "john.doe@university.edu.gh", "phone": "+233201234567", "avatar": "👤", "isVerified": false, "role": "buyer"}}}}}, "400": {"description": "Validation error", "examples": {"application/json": {"success": false, "errors": {"email": ["This field is required."], "password": ["Password must be at least 8 characters."], "confirm_password": ["Passwords do not match."], "student_id": ["Student ID is required for students."], "agree_to_terms": ["You must agree to the terms and conditions."]}}}}, "409": {"description": "Conflict - User already exists", "examples": {"application/json": {"success": false, "errors": {"email": ["user with this email address already exists."], "phone": ["user with this phone already exists."]}}}}}, "tags": ["Authentication"]}, "parameters": []}, "/auth/resend-verification/": {"post": {"operationId": "auth_resend-verification_create", "summary": "Resend Verification Email", "description": "\nResend a new 6-digit OTP verification code with 3-hour account expiry reminder.\n\n### Important Notes:\n- Previous verification code is invalidated\n- New code has 24-hour validity period\n- Account will be deleted if not verified within 3 hours\n- Rate limited to prevent abuse (max 3 requests per hour)\n\n### Email Content Includes:\n- New 6-digit OTP verification code\n- 3-hour account expiry warning\n- Time remaining for verification\n- Account deletion consequences\n\n### Account Expiry Timeline:\n1. Registration: 3-hour timer starts\n2. Resend email: Timer does NOT reset\n3. 3 hours pass: Account automatically deleted\n4. Email becomes available for re-registration\n", "parameters": [], "responses": {"200": {"description": "Verification email sent successfully", "examples": {"application/json": {"success": true, "message": "Verification email sent", "data": {"email": "student@university.edu.gh", "sentAt": "2024-01-15T10:30:00Z", "codeExpiresIn": "24 hours", "accountExpiresIn": "2 hours 45 minutes", "accountExpiresAt": "2024-01-15T13:15:00Z", "attemptsRemaining": 2}}}}, "400": {"description": "Bad Request - Email already verified", "examples": {"application/json": {"success": false, "message": "Email is already verified."}}}, "410": {"description": "Account Expired - Deleted", "examples": {"application/json": {"success": false, "message": "Account has expired. Please register again."}}}, "429": {"description": "Too Many Requests - Rate limit exceeded", "examples": {"application/json": {"success": false, "message": "Too many resend attempts. Please try again in 45 minutes."}}}}, "tags": ["Authentication"], "security": [{"Bearer": []}]}, "parameters": []}, "/auth/reset-password/": {"post": {"operationId": "auth_reset-password_create", "summary": "Reset Password", "description": "\nReset user password using the token received via email.\n\n### Requirements:\n1. Valid reset token from email link\n2. New password (minimum 8 characters)\n3. Password confirmation\n\n### Security Features:\n- Token must be valid and not expired (24-hour validity)\n- Token can only be used once (single-use)\n- All existing sessions are invalidated after reset\n- Previous passwords cannot be reused\n- Strong password validation enforced\n\n### Token Validation:\nThe token is validated for:\n- Existence in database\n- Not expired (24 hours from creation)\n- Not previously used\n- Associated with valid user account\n\n### After Successful Reset:\n1. User password is updated\n2. Reset token is marked as used\n3. All existing JWT refresh tokens are blacklisted\n4. User must login with new password\n\n### Note:\nThis endpoint does not require authentication since the user\nmay not be logged in when resetting password.\n", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["reset_token", "new_password", "confirm_password"], "type": "object", "properties": {"reset_token": {"description": "Reset token received via email link", "type": "string", "example": "123e4567-e89b-12d3-a456-426614174000"}, "new_password": {"description": "New password (minimum 8 characters)", "type": "string", "format": "password", "example": "NewSecurePass123", "minLength": 8}, "confirm_password": {"description": "Must match new_password field", "type": "string", "format": "password", "example": "NewSecurePass123"}}, "example": {"reset_token": "123e4567-e89b-12d3-a456-426614174000", "new_password": "NewSecurePass123", "confirm_password": "NewSecurePass123"}}}], "responses": {"200": {"description": "Password reset successful", "examples": {"application/json": {"success": true, "message": "Password reset successful", "data": {"email": "student@university.edu.gh", "resetAt": "2024-01-15T10:30:00Z", "sessionInvalidated": true}}}}, "400": {"description": "Bad Request - Validation Error", "examples": {"application/json": [{"success": false, "errors": {"reset_token": ["This field is required."]}}, {"success": false, "errors": {"new_password": ["Password must be at least 8 characters."]}}, {"success": false, "errors": {"confirm_password": ["Passwords do not match."]}}, {"success": false, "errors": {"reset_token": ["Invalid or expired reset token."]}}, {"success": false, "errors": {"reset_token": ["This reset token has already been used."]}}, {"success": false, "errors": {"reset_token": ["Reset token has expired."]}}]}}, "410": {"description": "Gone - Token expired", "examples": {"application/json": {"success": false, "errors": {"reset_token": ["Reset token has expired. Please request a new one."]}}}}}, "tags": ["Authentication"], "security": []}, "parameters": []}, "/auth/verify-email/": {"post": {"operationId": "auth_verify-email_create", "summary": "Verify Email Address", "description": "\nVerify user's email address using the 6-digit OTP code.\n\n### Important Security Notes:\n- User must verify within 3 hours or account will be deleted\n- Verification code expires in 24 hours\n- Maximum 10 verification attempts before rate limiting\n- Account cleanup runs every 15 minutes via Celery\n\n### After Successful Verification:\n- Email is marked as verified (`is_verified=True`)\n- 3-hour account expiry timer is cleared\n- Verification code and expiry are cleared\n- User gains access to verified-only features\n\n### Account Expiry Warning:\nIf user doesn't verify within 3 hours:\n- Account is automatically deleted via Celery task\n- Email address becomes available for re-registration\n- All user data is permanently removed\n", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["verification_code"], "type": "object", "properties": {"verification_code": {"description": "6-digit OTP verification code received via email", "type": "string", "pattern": "^[0-9]{6}$", "example": "123456", "maxLength": 6, "minLength": 6}}, "example": {"verification_code": "123456"}}}], "responses": {"200": {"description": "Email verified successfully", "examples": {"application/json": {"success": true, "message": "Email verified successfully", "data": {"isVerified": true, "email": "student@university.edu.gh", "verifiedAt": "2024-01-15T10:30:00Z", "accountExpiryCleared": true, "userId": "uuid-here"}}}}, "400": {"description": "Bad Request - Validation Error", "examples": {"application/json": [{"success": false, "message": "Invalid code format. Must be 6 digits"}, {"success": false, "message": "No verification code found"}, {"success": false, "message": "Verification code has expired"}, {"success": false, "message": "Email is already verified"}, {"success": false, "message": "Invalid code. 9 attempts remaining"}]}}, "429": {"description": "Too Many Requests", "examples": {"application/json": {"success": false, "message": "Too many verification attempts. Please request a new code."}}}, "410": {"description": "Account Expired - Deleted", "examples": {"application/json": {"success": false, "message": "Account has been deleted due to non-verification. Please register again."}}}}, "tags": ["Authentication"], "security": [{"Bearer": []}]}, "parameters": []}, "/cart": {"get": {"operationId": "cart_list", "summary": "Get Cart", "description": "Retrieve the authenticated user's shopping cart with all items, totals, and counts.", "parameters": [], "responses": {"200": {"description": "Cart retrieved successfully", "schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true}, "data": {"type": "object", "properties": {"items": {"description": "List of cart items", "type": "array", "items": {"type": "object", "properties": {"id": {"description": "UUID of the cart item", "type": "string", "format": "uuid", "example": "550e8400-e29b-41d4-a716-446655440000"}, "product": {"type": "object", "properties": {"id": {"type": "string", "format": "uuid", "example": "660e8400-e29b-41d4-a716-446655440001"}, "name": {"type": "string", "example": "Wireless Headphones"}, "price": {"type": "number", "format": "decimal", "example": 79.99}, "image": {"type": "string", "example": "https://api.example.com/media/products/headphones.jpg"}, "slug": {"type": "string", "example": "wireless-headphones"}, "in_stock": {"type": "boolean", "example": true}}}, "quantity": {"type": "integer", "example": 2, "minimum": 1}, "unit_price": {"description": "Price per unit at time of adding to cart", "type": "number", "format": "decimal", "example": 79.99}, "subtotal": {"description": "Quantity × unit_price", "type": "number", "format": "decimal", "example": 159.98}, "created_at": {"type": "string", "format": "date-time", "example": "2023-12-01T10:30:00Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2023-12-01T10:30:00Z"}}}}, "total": {"description": "Cart subtotal (sum of all item subtotals)", "type": "number", "format": "decimal", "example": 159.98}, "item_count": {"description": "Total number of items in cart", "type": "integer", "example": 2}}}}}}, "401": {"description": "Authentication required", "schema": {"type": "object", "properties": {"detail": {"type": "string", "example": "Authentication credentials were not provided."}}}}}, "tags": ["Cart"]}, "parameters": []}, "/cart/add": {"post": {"operationId": "cart_add_create", "summary": "Add to Cart", "description": "Add a product to the user's shopping cart. If the product already exists in the cart, the quantity will be updated to the new value.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["product_id", "quantity"], "type": "object", "properties": {"product_id": {"description": "UUID of the product to add to cart", "type": "string", "format": "uuid", "example": "660e8400-e29b-41d4-a716-446655440001"}, "quantity": {"description": "Quantity to add (must be at least 1)", "type": "integer", "example": 2, "maximum": 99, "minimum": 1}}}}], "responses": {"201": {"description": "Item added to cart successfully (new item)", "schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true}, "message": {"type": "string", "example": "Item added to cart successfully"}, "data": {"type": "object", "properties": {"id": {"type": "string", "format": "uuid", "example": "550e8400-e29b-41d4-a716-446655440000"}, "product": {"type": "object", "properties": {"id": {"type": "string", "format": "uuid", "example": "660e8400-e29b-41d4-a716-446655440001"}, "name": {"type": "string", "example": "Wireless Headphones"}, "price": {"type": "number", "format": "decimal", "example": 79.99}, "image": {"type": "string", "example": "https://api.example.com/media/products/headphones.jpg"}, "slug": {"type": "string", "example": "wireless-headphones"}, "in_stock": {"type": "boolean", "example": true}}}, "quantity": {"type": "integer", "example": 2}, "unit_price": {"type": "number", "format": "decimal", "example": 79.99}, "subtotal": {"type": "number", "format": "decimal", "example": 159.98}, "created_at": {"type": "string", "format": "date-time", "example": "2023-12-01T10:30:00Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2023-12-01T10:30:00Z"}}}}}}, "200": {"description": "Item quantity updated successfully (existing item)", "schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true}, "message": {"type": "string", "example": "Item added to cart successfully"}, "data": {"description": "Updated cart item", "type": "object"}}}}, "400": {"description": "Validation failed", "schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": false}, "message": {"type": "string", "example": "Validation failed"}, "errors": {"type": "object", "additionalProperties": {"type": "array", "items": {"type": "string"}}, "example": {"product_id": ["This field is required."], "quantity": ["Quantity must be at least 1."], "non_field_errors": ["Product is out of stock."]}}}}}, "401": {"description": "Authentication required", "schema": {"type": "object", "properties": {"detail": {"type": "string", "example": "Authentication credentials were not provided."}}}}, "404": {"description": "Product not found", "schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": false}, "message": {"type": "string", "example": "Product not found"}, "errors": {"type": "object", "properties": {"product_id": {"type": "array", "items": {"type": "string"}, "example": ["Product with ID 660e8400-e29b-41d4-a716-446655440001 does not exist."]}}}}}}}, "tags": ["Cart"]}, "parameters": []}, "/cart/clear": {"delete": {"operationId": "cart_clear_delete", "summary": "Clear Cart", "description": "Remove all items from the authenticated user's shopping cart. This action cannot be undone.", "parameters": [], "responses": {"200": {"description": "Cart cleared successfully", "schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true}, "message": {"type": "string", "example": "Cart cleared successfully"}}}}, "401": {"description": "Authentication required", "schema": {"type": "object", "properties": {"detail": {"type": "string", "example": "Authentication credentials were not provided."}}}}}, "tags": ["Cart"]}, "parameters": []}, "/cart/{itemId}": {"patch": {"operationId": "cart_partial_update", "summary": "Update Cart Item", "description": "Update the quantity of a specific item in the user's cart. Only the owner of the cart can update items.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["quantity"], "type": "object", "properties": {"quantity": {"description": "New quantity for the cart item (must be at least 1)", "type": "integer", "example": 3, "maximum": 99, "minimum": 1}}}}, {"name": "itemId", "in": "path", "description": "UUID of the cart item to update", "required": true, "type": "string", "format": "uuid", "example": "550e8400-e29b-41d4-a716-446655440000"}], "responses": {"200": {"description": "Cart item updated successfully", "schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true}, "message": {"type": "string", "example": "Cart updated successfully"}, "data": {"type": "object", "properties": {"id": {"type": "string", "format": "uuid", "example": "550e8400-e29b-41d4-a716-446655440000"}, "product": {"type": "object", "properties": {"id": {"type": "string", "format": "uuid", "example": "660e8400-e29b-41d4-a716-446655440001"}, "name": {"type": "string", "example": "Wireless Headphones"}, "price": {"type": "number", "format": "decimal", "example": 79.99}, "image": {"type": "string", "example": "https://api.example.com/media/products/headphones.jpg"}, "slug": {"type": "string", "example": "wireless-headphones"}, "in_stock": {"type": "boolean", "example": true}}}, "quantity": {"type": "integer", "example": 3}, "unit_price": {"type": "number", "format": "decimal", "example": 79.99}, "subtotal": {"type": "number", "format": "decimal", "example": 239.97}, "created_at": {"type": "string", "format": "date-time", "example": "2023-12-01T10:30:00Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2023-12-01T11:45:00Z"}}}}}}, "400": {"description": "Bad request - Invalid quantity or insufficient stock", "schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": false}, "message": {"type": "string", "example": "Only 5 items available"}}}}, "401": {"description": "Authentication required", "schema": {"type": "object", "properties": {"detail": {"type": "string", "example": "Authentication credentials were not provided."}}}}, "403": {"description": "Permission denied - Not the owner of this cart item", "schema": {"type": "object", "properties": {"detail": {"type": "string", "example": "You do not have permission to perform this action."}}}}, "404": {"description": "Cart item not found", "schema": {"type": "object", "properties": {"detail": {"type": "string", "example": "Not found."}}}}}, "tags": ["Cart"]}, "parameters": [{"name": "itemId", "in": "path", "required": true, "type": "string"}]}, "/cart/{itemId}/remove": {"delete": {"operationId": "cart_remove_delete", "summary": "Remove from Cart", "description": "Remove a specific item from the user's shopping cart. Only the owner of the cart can remove items.", "parameters": [{"name": "itemId", "in": "path", "description": "UUID of the cart item to remove", "required": true, "type": "string", "format": "uuid", "example": "550e8400-e29b-41d4-a716-446655440000"}], "responses": {"200": {"description": "Item removed successfully", "schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true}, "message": {"type": "string", "example": "Item removed from cart"}}}}, "401": {"description": "Authentication required", "schema": {"type": "object", "properties": {"detail": {"type": "string", "example": "Authentication credentials were not provided."}}}}, "403": {"description": "Permission denied - Not the owner of this cart item", "schema": {"type": "object", "properties": {"detail": {"type": "string", "example": "You do not have permission to perform this action."}}}}, "404": {"description": "Cart item not found", "schema": {"type": "object", "properties": {"detail": {"type": "string", "example": "Not found."}}}}}, "tags": ["Cart"]}, "parameters": [{"name": "itemId", "in": "path", "required": true, "type": "string"}]}, "/chats/conversations/": {"get": {"operationId": "chats_conversations_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["chats"]}, "parameters": []}, "/chats/conversations/{id}/mark-read/": {"post": {"operationId": "chats_conversations_mark_read", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["chats"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/chats/conversations/{id}/messages/": {"get": {"operationId": "chats_conversations_messages", "description": "Retrieve a paginated list of messages for a specific conversation. Only participants (buyer or seller) can view the messages.", "parameters": [{"name": "id", "in": "path", "description": "UUID of the conversation", "required": true, "type": "string", "format": "uuid"}], "responses": {"200": {"description": "Paginated list of messages with pagination metadata", "schema": {"type": "object", "properties": {"count": {"description": "Total number of messages in the conversation", "type": "integer"}, "next": {"description": "URL to the next page of results", "type": "string", "format": "uri", "nullable": true}, "previous": {"description": "URL to the previous page of results", "type": "string", "format": "uri", "nullable": true}, "results": {"type": "object", "properties": {"messages": {"description": "Array of message objects", "type": "array", "items": {"type": "object", "properties": {"id": {"type": "string", "format": "uuid"}, "sender": {"description": "Sender username or ID", "type": "string"}, "text": {"type": "string"}, "timestamp": {"type": "string", "format": "date-time"}, "flagged": {"type": "boolean"}, "flag_reason": {"type": "string", "nullable": true}}}}, "pagination": {"type": "object", "properties": {"currentPage": {"type": "integer"}, "totalPages": {"type": "integer"}, "totalItems": {"type": "integer"}}}}}}}}, "403": {"description": "User is not authorized to view this conversation", "schema": {"type": "object", "properties": {"error": {"type": "string"}}}}, "404": {"description": "Conversation not found", "schema": {"type": "object", "properties": {"error": {"type": "string"}}}}}, "tags": ["conversations"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/chats/messages/{message_id}/report/": {"post": {"operationId": "chats_messages_report_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ReportMessage"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ReportMessage"}}}, "tags": ["chats"]}, "parameters": [{"name": "message_id", "in": "path", "required": true, "type": "string"}]}, "/conversations/": {"get": {"operationId": "conversations_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["conversations"]}, "parameters": []}, "/conversations/start/": {"post": {"operationId": "conversations_start_conversation", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["conversations"]}, "parameters": []}, "/conversations/start_conversation/": {"post": {"operationId": "conversations_start_conversation", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["conversations"]}, "parameters": []}, "/conversations/{id}/mark_read/": {"post": {"operationId": "conversations_mark_read", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["conversations"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/conversations/{id}/messages/": {"get": {"operationId": "conversations_messages", "description": "Retrieve a paginated list of messages for a specific conversation. Only participants (buyer or seller) can view the messages.", "parameters": [{"name": "id", "in": "path", "description": "UUID of the conversation", "required": true, "type": "string", "format": "uuid"}], "responses": {"200": {"description": "Paginated list of messages with pagination metadata", "schema": {"type": "object", "properties": {"count": {"description": "Total number of messages in the conversation", "type": "integer"}, "next": {"description": "URL to the next page of results", "type": "string", "format": "uri", "nullable": true}, "previous": {"description": "URL to the previous page of results", "type": "string", "format": "uri", "nullable": true}, "results": {"type": "object", "properties": {"messages": {"description": "Array of message objects", "type": "array", "items": {"type": "object", "properties": {"id": {"type": "string", "format": "uuid"}, "sender": {"description": "Sender username or ID", "type": "string"}, "text": {"type": "string"}, "timestamp": {"type": "string", "format": "date-time"}, "flagged": {"type": "boolean"}, "flag_reason": {"type": "string", "nullable": true}}}}, "pagination": {"type": "object", "properties": {"currentPage": {"type": "integer"}, "totalPages": {"type": "integer"}, "totalItems": {"type": "integer"}}}}}}}}, "403": {"description": "User is not authorized to view this conversation", "schema": {"type": "object", "properties": {"error": {"type": "string"}}}}, "404": {"description": "Conversation not found", "schema": {"type": "object", "properties": {"error": {"type": "string"}}}}}, "tags": ["conversations"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/conversations/{id}/send_message/": {"post": {"operationId": "conversations_send_message", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["text"], "type": "object", "properties": {"text": {"description": "The message content", "type": "string", "example": "Is this still available?"}, "product_id": {"description": "UUID of the related product", "type": "string", "format": "uuid", "example": "3fa85f64-5717-4562-b3fc-2c963f66afaa6"}}}}, {"name": "id", "in": "path", "description": "ID of the conversation", "type": "string", "format": "uuid", "required": true}], "responses": {"201": {"description": "Message sent successfully", "schema": {"type": "object", "properties": {"success": {"type": "boolean"}, "message": {"type": "string"}, "data": {"type": "object", "properties": {"messageId": {"type": "string", "format": "uuid"}, "timestamp": {"type": "string", "format": "date-time"}, "flagged": {"type": "boolean"}, "flagReason": {"type": "string", "nullable": true}}}}}}, "400": {"description": "Bad request (validation error)"}, "403": {"description": "Not authorized"}}, "tags": ["Chats"], "security": [{"Bearer": []}]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/messages/{message_id}/": {"get": {"operationId": "messages_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Message"}}}, "tags": ["messages"]}, "parameters": [{"name": "message_id", "in": "path", "required": true, "type": "string"}]}, "/messages/{message_id}/report/": {"post": {"operationId": "messages_report_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ReportMessage"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ReportMessage"}}}, "tags": ["messages"]}, "parameters": [{"name": "message_id", "in": "path", "required": true, "type": "string"}]}, "/orders": {"post": {"operationId": "orders_create", "summary": "Create Order", "description": "Create a new order for the authenticated user", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CreateOrder"}}], "responses": {"201": {"description": "Order created successfully", "schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true}, "message": {"type": "string", "example": "Order created successfully"}, "data": {"type": "object", "properties": {"orderId": {"type": "string", "example": "ORD-20231201-ABCDEF"}, "status": {"type": "string", "example": "pending"}, "total": {"type": "number", "format": "decimal", "example": 99.99}, "paymentUrl": {"type": "string", "example": "https://api.varsitymart.org/payments/order/ORD-20231201-ABCDEF"}, "estimatedDelivery": {"type": "string", "format": "date", "example": "2023-12-05"}}}}}}, "400": {"description": "Validation failed", "schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": false}, "message": {"type": "string", "example": "Validation failed"}, "errors": {"type": "object", "additionalProperties": {"type": "array", "items": {"type": "string"}}}}}}, "401": {"description": "Authentication credentials were not provided"}, "403": {"description": "User is not verified"}}, "tags": ["Orders"]}, "parameters": []}, "/orders/my-orders": {"get": {"operationId": "orders_my-orders_list", "summary": "Get User Orders", "description": "Retrieve orders for the authenticated user with filtering and pagination options. Users can view their orders as buyer or seller.", "parameters": [{"name": "type", "in": "query", "description": "Type of orders to retrieve (buyer or seller)", "required": false, "type": "string", "enum": ["buyer", "seller"], "default": "buyer"}, {"name": "status", "in": "query", "description": "Filter orders by status", "required": false, "type": "string", "enum": ["pending", "processing", "shipped", "delivered", "cancelled"]}, {"name": "page", "in": "query", "description": "Page number for pagination", "required": false, "type": "integer", "default": 1, "minimum": 1}, {"name": "limit", "in": "query", "description": "Number of items per page", "required": false, "type": "integer", "default": 20, "maximum": 100, "minimum": 1}], "responses": {"200": {"description": "Orders retrieved successfully", "schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true}, "data": {"type": "object", "properties": {"orders": {"description": "List of orders", "type": "array", "items": {"type": "object", "properties": {"order_number": {"type": "string", "example": "ORD-20231201-ABCDEF"}, "status": {"type": "string", "enum": ["pending", "processing", "shipped", "delivered", "cancelled"]}, "total": {"type": "number", "format": "decimal"}, "item_count": {"type": "integer"}, "buyer": {"type": "object", "properties": {"id": {"type": "integer"}, "username": {"type": "string"}}}, "seller": {"type": "object", "properties": {"id": {"type": "integer"}, "username": {"type": "string"}}}, "created_at": {"type": "string", "format": "date-time"}, "estimated_delivery": {"type": "string", "format": "date"}}}}, "pagination": {"type": "object", "properties": {"currentPage": {"type": "integer", "example": 1}, "totalPages": {"type": "integer", "example": 5}, "totalItems": {"type": "integer", "example": 97}, "itemsPerPage": {"type": "integer", "example": 20}}}}}}}}, "400": {"description": "Bad request - Invalid parameters", "schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": false}, "message": {"type": "string", "example": "Invalid parameters"}, "errors": {"type": "object", "additionalProperties": {"type": "string"}}}}}, "401": {"description": "Authentication credentials were not provided"}, "403": {"description": "User account is not verified"}}, "tags": ["Orders"]}, "parameters": []}, "/orders/{orderId}": {"get": {"operationId": "orders_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/OrderDetail"}}}, "tags": ["orders"]}, "parameters": [{"name": "orderId", "in": "path", "required": true, "type": "string"}]}, "/orders/{orderId}/cancel": {"post": {"operationId": "orders_cancel_create", "summary": "Cancel Order", "description": "Cancel an order. Both buyer and seller can cancel orders, but with different restrictions based on order status and timing.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["reason"], "type": "object", "properties": {"reason": {"description": "Reason for cancellation", "type": "string", "enum": ["changed_mind", "found_cheaper", "item_unavailable", "shipping_delay", "damaged_item", "other"], "example": "changed_mind"}, "details": {"description": "Additional details about the cancellation", "type": "string", "example": "Found a better price elsewhere", "maxLength": 500}}}}, {"name": "orderId", "in": "path", "description": "Order number to cancel (e.g., ORD-20231201-ABCDEF)", "required": true, "type": "string"}], "responses": {"200": {"description": "Order cancelled successfully", "schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true}, "message": {"type": "string", "example": "Order cancelled successfully. Refund initiated."}, "data": {"type": "object", "properties": {"orderId": {"type": "string", "example": "ORD-20231201-ABCDEF"}, "status": {"type": "string", "enum": ["pending", "processing", "shipped", "delivered", "cancelled"], "example": "cancelled"}, "refundStatus": {"description": "Status of refund if applicable", "type": "string", "enum": ["pending", "processed", "failed"], "example": "pending"}, "refundAmount": {"description": "Amount to be refunded", "type": "number", "format": "decimal", "example": 99.99}}}}}}, "400": {"description": "Validation failed", "schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": false}, "message": {"type": "string", "example": "Validation failed"}, "errors": {"type": "object", "additionalProperties": {"type": "array", "items": {"type": "string"}}, "example": {"reason": ["This field is required."], "details": ["Details cannot exceed 500 characters."]}}}}}, "401": {"description": "Authentication required", "schema": {"type": "object", "properties": {"detail": {"type": "string", "example": "Authentication credentials were not provided."}}}}, "403": {"description": "Permission denied - Not authorized to cancel this order", "schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": false}, "message": {"type": "string", "example": "You don't have permission to cancel this order"}}}}, "404": {"description": "Order not found", "schema": {"type": "object", "properties": {"detail": {"type": "string", "example": "Not found."}}}}, "409": {"description": "Conflict - Order cannot be cancelled in current status", "schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": false}, "message": {"type": "string", "example": "Order cannot be cancelled in delivered status"}}}}}, "tags": ["Orders"]}, "parameters": [{"name": "orderId", "in": "path", "required": true, "type": "string"}]}, "/orders/{orderId}/confirm-delivery": {"post": {"operationId": "orders_confirm-delivery_create", "summary": "Confirm Order Delivery", "description": "Confirm that an order has been delivered. Only the buyer can confirm delivery, and the order must be in 'shipped' status. This action releases escrow funds to the seller.", "parameters": [{"name": "orderId", "in": "path", "description": "Order number to confirm delivery for (e.g., ORD-20231201-ABCDEF)", "required": true, "type": "string"}], "responses": {"200": {"description": "Order delivery confirmed successfully", "schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true}, "message": {"type": "string", "example": "Order delivery confirmed. Escrow released to seller."}, "data": {"type": "object", "properties": {"orderId": {"type": "string", "example": "ORD-20231201-ABCDEF"}, "status": {"type": "string", "enum": ["pending", "processing", "shipped", "delivered", "cancelled"], "example": "delivered"}, "escrowStatus": {"description": "Status of the escrow payment", "type": "string", "enum": ["held", "released", "refunded"], "example": "released"}}}}}}, "400": {"description": "Bad request - Order cannot be confirmed in current status", "schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": false}, "message": {"type": "string", "example": "Order cannot be confirmed in pending status"}}}}, "401": {"description": "Authentication required", "schema": {"type": "object", "properties": {"detail": {"type": "string", "example": "Authentication credentials were not provided."}}}}, "403": {"description": "Permission denied - Not the buyer or user not verified", "schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": false}, "message": {"type": "string", "example": "Only the buyer can confirm delivery"}}}}, "404": {"description": "Order not found", "schema": {"type": "object", "properties": {"detail": {"type": "string", "example": "Not found."}}}}, "409": {"description": "Conflict - Auto-confirmation period not elapsed", "schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": false}, "message": {"type": "string", "example": "Delivery confirmation not available. Auto-confirmation in 3 days."}, "data": {"type": "object", "properties": {"autoConfirmDate": {"type": "string", "format": "date-time", "example": "2023-12-08T10:30:00Z"}}}}}}}, "tags": ["Orders"]}, "parameters": [{"name": "orderId", "in": "path", "required": true, "type": "string"}]}, "/orders/{orderId}/rate": {"post": {"operationId": "orders_rate_create", "summary": "Rate Order", "description": "Submit a rating and review for an order after delivery. Buyers can rate both the product and the seller. All reviews are marked as verified purchases.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["rating"], "type": "object", "properties": {"rating": {"description": "Rating score (1-5 stars)", "type": "integer", "example": 4, "maximum": 5, "minimum": 1}, "review": {"description": "Written review text", "type": "string", "example": "Great product! Fast shipping and exactly as described.", "maxLength": 1000}, "rateProduct": {"description": "Whether to rate the product", "type": "boolean", "default": true, "example": true}, "rateSeller": {"description": "Whether to rate the seller", "type": "boolean", "default": true, "example": true}}}}, {"name": "orderId", "in": "path", "description": "Order number to rate (e.g., ORD-20231201-ABCDEF)", "required": true, "type": "string"}], "responses": {"201": {"description": "Review submitted successfully", "schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true}, "message": {"type": "string", "example": "Thank you for your review!"}, "data": {"type": "object", "properties": {"reviewId": {"description": "ID of the created review", "type": "integer", "example": 123}}}}}}, "400": {"description": "Validation failed", "schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": false}, "message": {"type": "string", "example": "Validation failed"}, "errors": {"type": "object", "additionalProperties": {"type": "array", "items": {"type": "string"}}, "example": {"rating": ["Rating must be between 1 and 5."], "review": ["Review cannot exceed 1000 characters."]}}}}}, "401": {"description": "Authentication required", "schema": {"type": "object", "properties": {"detail": {"type": "string", "example": "Authentication credentials were not provided."}}}}, "403": {"description": "Permission denied - Not the buyer or user not verified", "schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": false}, "message": {"type": "string", "example": "Only the buyer can rate this order"}}}}, "404": {"description": "Order not found", "schema": {"type": "object", "properties": {"detail": {"type": "string", "example": "Not found."}}}}, "409": {"description": "Conflict - Order cannot be rated", "schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": false}, "message": {"type": "string", "enum": ["Order must be delivered before rating", "Order has already been rated", "Cannot rate cancelled orders"], "example": "Order must be delivered before rating"}}}}}, "tags": ["Orders", "Reviews"]}, "parameters": [{"name": "orderId", "in": "path", "required": true, "type": "string"}]}, "/orders/{orderId}/status": {"patch": {"operationId": "orders_status_partial_update", "summary": "Update Order Status", "description": "Update the status of an order. Only the seller of the order can perform this action.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["status"], "type": "object", "properties": {"status": {"description": "New status for the order", "type": "string", "enum": ["seller_confirmed", "processing", "in_transit", "cancelled"], "example": "in_transit"}, "note": {"description": "Optional note about the status change", "type": "string", "example": "Order has been shipped via FedEx, tracking number: 123456789"}}}}, {"name": "orderId", "in": "path", "description": "Order number to update (e.g., ORD-20231201-ABCDEF)", "required": true, "type": "string"}], "responses": {"200": {"description": "Order status updated successfully", "schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true}, "message": {"type": "string", "example": "Order status updated"}, "data": {"type": "object", "properties": {"orderId": {"type": "string", "example": "ORD-20231201-ABCDEF"}, "status": {"type": "string", "enum": ["seller_confirmed", "processing", "in_transit", "cancelled"], "example": "in_transit"}, "previous_status": {"type": "string", "example": "processing"}, "escrow_status": {"type": "string", "enum": ["held", "released", "refunded"], "example": "held"}}}}}}, "400": {"description": "Validation failed - Invalid transition or missing fields", "schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": false}, "message": {"type": "string", "example": "Validation failed"}, "errors": {"type": "object", "additionalProperties": {"type": "array", "items": {"type": "string"}}, "example": {"status": ["Cannot transition from 'in_transit' to 'processing'"], "note": ["Note cannot exceed 500 characters."]}}}}}, "401": {"description": "Authentication required", "schema": {"type": "object", "properties": {"detail": {"type": "string", "example": "Authentication credentials were not provided."}}}}, "403": {"description": "Permission denied - Not the seller or user not verified", "schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": false}, "message": {"type": "string", "example": "Only the seller can update order status"}}}}, "404": {"description": "Order not found", "schema": {"type": "object", "properties": {"detail": {"type": "string", "example": "Not found."}}}}, "409": {"description": "Conflict - Invalid status transition", "schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": false}, "message": {"type": "string", "example": "Cannot transition from 'in_transit' to 'processing'"}}}}}, "tags": ["Orders"]}, "parameters": [{"name": "orderId", "in": "path", "required": true, "type": "string"}]}, "/product-categories/": {"get": {"operationId": "product-categories_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ProductsMarketplaceCategory"}}}}}}, "tags": ["product-categories"]}, "parameters": []}, "/product-categories/{id}/": {"get": {"operationId": "product-categories_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProductsMarketplaceCategory"}}}, "tags": ["product-categories"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/products/": {"get": {"operationId": "products_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Product"}}}}}}, "tags": ["products"]}, "post": {"operationId": "products_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CreateProduct"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CreateProduct"}}}, "tags": ["products"]}, "parameters": []}, "/products/my-products/": {"get": {"operationId": "products_my_products", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Product"}}}}}}, "tags": ["products"]}, "parameters": []}, "/products/search/": {"get": {"operationId": "products_search", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Product"}}}}}}, "tags": ["products"]}, "parameters": []}, "/products/{id}/": {"get": {"operationId": "products_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/GetProductById"}}}, "tags": ["products"]}, "put": {"operationId": "products_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CreateProduct"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CreateProduct"}}}, "tags": ["products"]}, "patch": {"operationId": "products_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CreateProduct"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CreateProduct"}}}, "tags": ["products"]}, "delete": {"operationId": "products_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["products"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/products/{id}/images/{image_id}/": {"get": {"operationId": "products_images_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Product"}}}, "tags": ["products"]}, "delete": {"operationId": "products_images_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["products"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}, {"name": "image_id", "in": "path", "required": true, "type": "string"}]}, "/products/{id}/like/": {"post": {"operationId": "products_like", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"type": "object", "properties": {}}}], "responses": {"201": {"description": "", "schema": {"type": "object", "properties": {}}}}, "tags": ["products"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/products/{id}/upload_images/": {"post": {"operationId": "products_upload_images", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProductImageUpload"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ProductImageUpload"}}}, "tags": ["products"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/products/{product_pk}/reviews/": {"get": {"operationId": "products_reviews_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Review"}}}}}}, "tags": ["products"]}, "post": {"operationId": "products_reviews_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CreateReview"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CreateReview"}}}, "tags": ["products"]}, "parameters": [{"name": "product_pk", "in": "path", "required": true, "type": "string"}]}, "/restaurant-categories/": {"get": {"operationId": "restaurant-categories_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/RestaurantCategory"}}}}}}, "tags": ["restaurant-categories"]}, "parameters": []}, "/restaurant-categories/{id}/": {"get": {"operationId": "restaurant-categories_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/RestaurantCategory"}}}, "tags": ["restaurant-categories"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this category.", "required": true, "type": "string", "format": "uuid"}]}, "/restaurants/": {"get": {"operationId": "restaurants_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Restaurant"}}}}}}, "tags": ["restaurants"]}, "post": {"operationId": "restaurants_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CreateRestaurant"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CreateRestaurant"}}}, "tags": ["restaurants"]}, "parameters": []}, "/restaurants/featured/": {"get": {"operationId": "restaurants_featured", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Restaurant"}}}}}}, "tags": ["restaurants"]}, "parameters": []}, "/restaurants/my-restaurant/": {"get": {"operationId": "restaurants_my_restaurant", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Restaurant"}}}}}}, "tags": ["restaurants"]}, "parameters": []}, "/restaurants/{restaurantId}/": {"get": {"operationId": "restaurants_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/RestaurantDetail"}}}, "tags": ["restaurants"]}, "put": {"operationId": "restaurants_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CreateRestaurant"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CreateRestaurant"}}}, "tags": ["restaurants"]}, "patch": {"operationId": "restaurants_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CreateRestaurant"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CreateRestaurant"}}}, "tags": ["restaurants"]}, "delete": {"operationId": "restaurants_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["restaurants"]}, "parameters": [{"name": "restaurantId", "in": "path", "required": true, "type": "string"}]}, "/restaurants/{restaurantId}/dashboard/": {"get": {"operationId": "restaurants_dashboard", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Restaurant"}}}, "tags": ["restaurants"]}, "parameters": [{"name": "restaurantId", "in": "path", "required": true, "type": "string"}]}, "/restaurants/{restaurant_pk}/menu/": {"get": {"operationId": "restaurants_menu_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/MenuItem"}}}}}}, "tags": ["restaurants"]}, "post": {"operationId": "restaurants_menu_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CreateMenuItem"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CreateMenuItem"}}}, "tags": ["restaurants"]}, "parameters": [{"name": "restaurant_pk", "in": "path", "required": true, "type": "string"}]}, "/restaurants/{restaurant_pk}/menu/{id}/": {"get": {"operationId": "restaurants_menu_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/MenuItem"}}}, "tags": ["restaurants"]}, "put": {"operationId": "restaurants_menu_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CreateMenuItem"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CreateMenuItem"}}}, "tags": ["restaurants"]}, "patch": {"operationId": "restaurants_menu_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CreateMenuItem"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CreateMenuItem"}}}, "tags": ["restaurants"]}, "delete": {"operationId": "restaurants_menu_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["restaurants"]}, "parameters": [{"name": "restaurant_pk", "in": "path", "required": true, "type": "string"}, {"name": "id", "in": "path", "required": true, "type": "string"}]}, "/restaurants/{restaurant_pk}/menu/{id}/availability/": {"patch": {"operationId": "restaurants_menu_toggle_availability", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/MenuItemAvailability"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/MenuItemAvailability"}}}, "tags": ["restaurants"]}, "parameters": [{"name": "restaurant_pk", "in": "path", "required": true, "type": "string"}, {"name": "id", "in": "path", "required": true, "type": "string"}]}, "/restaurants/{restaurant_pk}/reviews/": {"get": {"operationId": "restaurants_reviews_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Review"}}}}}}, "tags": ["restaurants"]}, "post": {"operationId": "restaurants_reviews_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CreateReview"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CreateReview"}}}, "tags": ["restaurants"]}, "parameters": [{"name": "restaurant_pk", "in": "path", "required": true, "type": "string"}]}, "/reviews/{id}/": {"get": {"operationId": "reviews_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Review"}}}, "tags": ["reviews"]}, "put": {"operationId": "reviews_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CreateReview"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CreateReview"}}}, "tags": ["reviews"]}, "patch": {"operationId": "reviews_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CreateReview"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CreateReview"}}}, "tags": ["reviews"]}, "delete": {"operationId": "reviews_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["reviews"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this review.", "required": true, "type": "string", "format": "uuid"}]}, "/reviews/{id}/helpful/": {"post": {"operationId": "reviews_helpful", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Empty"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Empty"}}}, "tags": ["reviews"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this review.", "required": true, "type": "string", "format": "uuid"}]}, "/store-categories/": {"get": {"operationId": "store-categories_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Category"}}}}}}, "tags": ["store-categories"]}, "parameters": []}, "/store-categories/{id}/": {"get": {"operationId": "store-categories_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Category"}}}, "tags": ["store-categories"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/stores/": {"get": {"operationId": "stores_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/StoreList"}}}}}}, "tags": ["stores"]}, "post": {"operationId": "stores_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CreateStore"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CreateStore"}}}, "tags": ["stores"]}, "parameters": []}, "/stores/my-store/": {"get": {"operationId": "stores_my_store", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Store"}}}}}}, "tags": ["stores"]}, "parameters": []}, "/stores/{id}/": {"get": {"operationId": "stores_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/StoreDetail"}}}, "tags": ["stores"]}, "put": {"operationId": "stores_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CreateStore"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CreateStore"}}}, "tags": ["stores"]}, "patch": {"operationId": "stores_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Store"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Store"}}}, "tags": ["stores"]}, "delete": {"operationId": "stores_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["stores"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/stores/{id}/migrate-products/": {"post": {"operationId": "stores_migrate_products", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/MigrateProducts"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/MigrateProducts"}}}, "tags": ["stores"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/stores/{id}/products/": {"get": {"operationId": "stores_store_products", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Store"}}}, "tags": ["stores"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/stores/{id}/renew/": {"post": {"operationId": "stores_renew_store_subscription", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/RenewStore"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/RenewStore"}}}, "tags": ["stores"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/stores/{store_pk}/reviews/": {"get": {"operationId": "stores_reviews_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Review"}}}}}}, "tags": ["stores"]}, "post": {"operationId": "stores_reviews_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CreateReview"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CreateReview"}}}, "tags": ["stores"]}, "parameters": [{"name": "store_pk", "in": "path", "required": true, "type": "string"}]}, "/users/me/": {"get": {"operationId": "users_me_read", "summary": "Get User Profile", "description": "\nGet authenticated user's complete profile information.\n\n### Profile Information Includes:\n- **Personal Details**: Full name, email, phone, avatar\n- **University Information**: Student ID, campus, university\n- **Account Status**: Verification status, KYC status, role\n- **Performance Metrics**: Rating, total reviews, response rate/time\n- **Business Information**: Store/restaurant flags\n- **Timestamps**: Member since date\n\n### Avatar URL:\n- Returns absolute URL for profile picture\n- Falls back to generated avatar if no picture\n- Includes both `profile_pic` and `avatarUrl` fields\n\n### Authentication Required:\n- Valid JWT access token required\n- Returns profile of authenticated user only\n\n### Response Rate/Time:\nThese are currently mock values and will be replaced with actual\nmetrics from order/response tracking system.\n", "parameters": [], "responses": {"200": {"description": "Profile retrieved successfully", "examples": {"application/json": {"success": true, "data": {"id": "123e4567-e89b-12d3-a456-426614174000", "full_name": "John Doe", "email": "john.doe@university.edu.gh", "phone": "+233201234567", "avatar": "👤", "profile_pic": "https://example.com/profile.jpg", "avatarUrl": "https://example.com/profile.jpg", "student_id": "UGBS123456", "campus": "Legon", "university": "University of Ghana", "is_student": true, "is_verified": true, "kyc_status": "verified", "role": "buyer", "rating": 4.5, "total_reviews": 10, "bio": "Computer Science student passionate about tech and entrepreneurship.", "member_since": "2024-01-01T00:00:00Z", "has_store": false, "has_restaurant": false, "response_rate": "95%", "response_time": "2 hours"}}}}, "401": {"description": "Unauthorized", "examples": {"application/json": {"success": false, "errors": {"detail": "Authentication credentials were not provided."}}}}, "403": {"description": "Forbidden", "examples": {"application/json": {"success": false, "errors": {"detail": "You do not have permission to perform this action."}}}}}, "tags": ["User Management"], "security": [{"Bearer": []}]}, "put": {"operationId": "users_me_update", "summary": "Update User Profile", "description": "Update authenticated user's profile information.", "parameters": [{"name": "full_name", "in": "formData", "required": true, "type": "string", "maxLength": 255, "minLength": 1}, {"name": "phone", "in": "formData", "description": "Enter phone number without letters", "required": false, "type": "string", "maxLength": 20, "x-nullable": true}, {"name": "campus", "in": "formData", "required": true, "type": "string", "maxLength": 100, "minLength": 1}, {"name": "bio", "in": "formData", "required": false, "type": "string", "x-nullable": true}, {"name": "avatar", "in": "formData", "description": "Profile picture image file (max 100MB)", "required": false, "type": "file"}], "responses": {"200": {"description": "Profile updated successfully", "schema": {"type": "object", "properties": {"success": {"type": "boolean"}, "message": {"type": "string"}, "data": {"type": "object", "properties": {"id": {"type": "string", "format": "uuid", "example": "123e4567-e89b-12d3-a456-426614174000"}, "full_name": {"type": "string", "example": "John Doe Updated"}, "email": {"type": "string", "format": "email", "example": "john.doe@university.edu.gh"}, "phone": {"type": "string", "example": "+233201234568"}, "avatar": {"type": "string", "example": "👤"}, "profile_pic": {"type": "string", "format": "uri", "example": "https://res.cloudinary.com/cloud_name/image/upload/v123/user_avatar_123.jpg"}, "avatarUrl": {"type": "string", "format": "uri", "example": "https://res.cloudinary.com/cloud_name/image/upload/v123/user_avatar_123.jpg"}, "student_id": {"type": "string", "example": "UGBS123456"}, "campus": {"type": "string", "example": "Legon"}, "university": {"type": "string", "example": "University of Ghana"}, "is_student": {"type": "boolean", "example": true}, "is_verified": {"type": "boolean", "example": true}, "kyc_status": {"type": "string", "enum": ["pending", "verified", "rejected"], "example": "verified"}, "role": {"type": "string", "enum": ["buyer", "seller", "admin", "delivery"], "example": "buyer"}, "rating": {"type": "number", "format": "float", "example": 4.5}, "total_reviews": {"type": "integer", "example": 10}, "bio": {"type": "string", "example": "Updated bio with more details..."}, "member_since": {"type": "string", "format": "date-time", "example": "2024-01-01T00:00:00Z"}, "has_store": {"type": "boolean", "example": false}, "has_restaurant": {"type": "boolean", "example": false}, "response_rate": {"type": "string", "example": "95%"}, "response_time": {"type": "string", "example": "2 hours"}, "cloudinaryPublicId": {"type": "string", "example": "user_avatars/user_avatar_123"}}}}}}, "400": {"description": "Validation error", "schema": {"type": "object", "properties": {"success": {"type": "boolean"}, "errors": {"type": "object"}}}, "examples": {"application/json": {"success": false, "errors": {"phone": ["This phone number is already in use."]}}}}, "429": {"description": "Rate limit exceeded", "schema": {"type": "object", "properties": {"success": {"type": "boolean"}, "errors": {"type": "object", "properties": {"detail": {"type": "string"}}}}}, "examples": {"application/json": {"success": false, "errors": {"detail": "Too many profile updates. Please try again later."}}}}}, "consumes": ["multipart/form-data", "application/json"], "tags": ["User Management"], "security": [{"Bearer": []}]}, "patch": {"operationId": "users_me_partial_update", "summary": "Partial Update User Profile", "description": "Partially update profile. Only provided fields will be updated.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UpdateProfile"}}], "responses": {"200": {"description": "Profile updated successfully", "examples": {"application/json": {"success": true, "message": "Profile updated successfully", "data": {"id": "123e4567-e89b-12d3-a456-426614174000", "full_name": "John Doe Updated", "email": "john.doe@university.edu.gh", "phone": "+233201234568", "profile_pic": "https://res.cloudinary.com/.../user_avatar_123.jpg", "campus": "Legon", "bio": "Updated bio...", "is_verified": true, "role": "buyer", "rating": 4.5, "member_since": "2024-01-01T00:00:00Z"}}}}, "400": {"description": "Validation error"}, "429": {"description": "Rate limit exceeded"}}, "tags": ["User Management"], "security": [{"Bearer": []}]}, "parameters": []}, "/users/me/avatar/": {"post": {"operationId": "users_me_avatar_create", "summary": "Upload User Avatar", "description": "Upload a new profile picture to Cloudinary (max 10MB, formats: JPG, PNG, GIF, WebP)", "parameters": [], "responses": {"200": {"description": "Avatar uploaded successfully", "schema": {"type": "object", "properties": {"success": {"type": "boolean"}, "message": {"type": "string"}, "data": {"type": "object", "properties": {"avatarUrl": {"type": "string"}, "publicId": {"type": "string"}, "width": {"type": "integer"}, "height": {"type": "integer"}, "format": {"type": "string"}}}}}}, "400": {"description": "Bad Request"}, "401": {"description": "Unauthorized"}, "413": {"description": "File too large"}, "415": {"description": "Unsupported file type"}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["User Management"], "security": [{"Bearer": []}]}, "parameters": []}, "/users/{userId}/": {"get": {"operationId": "users_read", "summary": "Get User Public Profile", "description": "\nGet public profile information tailored to user's role.\n\n### Information by Role:\n\n**For All Users:**\n- Basic identity (name, avatar)\n- Rating and review count\n- Member since date\n\n**Additional for Sellers:**\n- Response rate and time\n- Store information\n- University/campus\n\n**Additional for Delivery Partners:**\n- Response rate and time\n- Delivery statistics\n- University/campus\n\n**For Buyers:**\n- Only basic information (privacy focused)\n\n### Privacy Rules:\n- Email and phone never exposed\n- Student ID never exposed\n- Personal bio only if public\n- KYC status only shows 'verified' (not pending/rejected)\n\n### Rate Limiting:\nLimited to 100 user profile views per hour per authenticated user.\n", "parameters": [{"name": "userId", "in": "path", "description": "User's UUID", "required": true, "type": "string", "format": "uuid"}, {"name": "fields", "in": "query", "description": "Optional: Comma-separated fields to include", "required": false, "type": "string", "enum": ["basic", "extended", "all"], "default": "basic"}], "responses": {"200": {"description": "User profile retrieved", "schema": {"type": "object", "properties": {"success": {"type": "boolean"}, "data": {"type": "object", "properties": {"id": {"type": "string"}, "fullName": {"type": "string"}, "avatar": {"type": "string"}, "rating": {"type": "number"}, "totalReviews": {"type": "integer"}, "memberSince": {"type": "string"}, "role": {"type": "string"}, "isVerified": {"type": "boolean"}, "hasStore": {"type": "boolean", "nullable": true}, "hasRestaurant": {"type": "boolean", "nullable": true}, "responseRate": {"type": "string", "nullable": true}, "responseTime": {"type": "string", "nullable": true}, "university": {"type": "string", "nullable": true}, "campus": {"type": "string", "nullable": true}}}}}}, "404": {"description": "User not found"}, "429": {"description": "Too many requests"}}, "tags": ["User Management"], "security": [{"Bearer": []}]}, "parameters": [{"name": "userId", "in": "path", "required": true, "type": "string"}]}}, "definitions": {"ReportMessage": {"required": ["reason"], "type": "object", "properties": {"reason": {"title": "Reason", "type": "string", "enum": ["spam", "harassment", "inappropriate", "scam", "contact_info", "other"]}, "details": {"title": "Details", "type": "string", "x-nullable": true}}}, "Message": {"required": ["text"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "sender_id": {"title": "Sender id", "type": "string", "format": "uuid", "readOnly": true}, "text": {"title": "Text", "type": "string", "minLength": 1}, "timestamp": {"title": "Timestamp", "type": "string", "format": "date-time", "readOnly": true}, "is_read": {"title": "Is read", "type": "boolean"}, "flagged": {"title": "Flagged", "type": "boolean", "readOnly": true}, "flag_reason": {"title": "Flag reason", "type": "string", "enum": ["contact_info", "spam", "inappropriate", "harassment", "other"], "readOnly": true, "x-nullable": true}}}, "CreateOrder": {"required": ["productId", "deliveryMethod", "deliveryAddress", "paymentMethod"], "type": "object", "properties": {"productId": {"title": "Productid", "type": "string", "format": "uuid"}, "quantity": {"title": "Quantity", "type": "integer", "default": 1, "minimum": 1}, "deliveryMethod": {"title": "Deliverymethod", "type": "string", "enum": ["campus_delivery", "meetup", "shipping"]}, "deliveryAddress": {"title": "Deliveryaddress", "type": "string", "minLength": 1}, "deliveryInstructions": {"title": "Deliveryinstructions", "type": "string"}, "paymentMethod": {"title": "Paymentmethod", "type": "string", "enum": ["momo", "card", "bank", "cash"]}, "momoNumber": {"title": "Momonumber", "type": "string", "x-nullable": true}, "momoProvider": {"title": "Momoprovider", "type": "string", "enum": ["MTN", "Vodafone", "AirtelTigo"], "x-nullable": true}}}, "ProductBasic": {"required": ["title"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "title": {"title": "Title", "type": "string", "maxLength": 255, "minLength": 1}, "image": {"title": "Image", "type": "string", "readOnly": true}, "price": {"title": "Price", "type": "string", "format": "decimal"}}}, "SellerBasic": {"required": ["name"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "name": {"title": "Name", "type": "string", "minLength": 1}, "phone": {"title": "Phone", "description": "Enter phone number without letters", "type": "string", "maxLength": 20, "x-nullable": true}}}, "BuyerBasic": {"required": ["name"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "name": {"title": "Name", "type": "string", "minLength": 1}, "phone": {"title": "Phone", "description": "Enter phone number without letters", "type": "string", "maxLength": 20, "x-nullable": true}}}, "StoreBasic": {"required": ["name"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "name": {"title": "Name", "type": "string", "minLength": 1}}}, "OrderTimeline": {"required": ["status", "status_display", "timestamp"], "type": "object", "properties": {"status": {"title": "Status", "type": "string", "enum": ["pending_payment", "payment_confirmed", "seller_confirmed", "processing", "in_transit", "delivered", "cancelled", "refunded"]}, "status_display": {"title": "Status display", "type": "string", "minLength": 1}, "timestamp": {"title": "Timestamp", "type": "string", "format": "date-time"}, "description": {"title": "Description", "type": "string", "readOnly": true}}}, "OrderDetail": {"required": ["status_display", "subtotal", "delivery_fee", "service_fee", "total", "delivery_method", "delivery_method_display", "delivery_address", "payment_method", "payment_method_display", "payment_status_display", "escrow_status_display"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "order_number": {"title": "Order number", "type": "string", "readOnly": true, "minLength": 1}, "status": {"title": "Status", "type": "string", "enum": ["pending_payment", "payment_confirmed", "seller_confirmed", "processing", "in_transit", "delivered", "cancelled", "refunded"]}, "status_display": {"title": "Status display", "type": "string", "minLength": 1}, "product": {"$ref": "#/definitions/ProductBasic"}, "quantity": {"title": "Quantity", "type": "integer", "maximum": 2147483647, "minimum": 1}, "subtotal": {"title": "Subtotal", "type": "string", "format": "decimal"}, "delivery_fee": {"title": "Delivery fee", "type": "string", "format": "decimal"}, "service_fee": {"title": "Service fee", "type": "string", "format": "decimal"}, "total": {"title": "Total", "type": "string", "format": "decimal"}, "seller": {"$ref": "#/definitions/SellerBasic"}, "buyer": {"$ref": "#/definitions/BuyerBasic"}, "store": {"$ref": "#/definitions/StoreBasic"}, "delivery_method": {"title": "Delivery method", "type": "string", "enum": ["campus_delivery", "meetup", "shipping"]}, "delivery_method_display": {"title": "Delivery method display", "type": "string", "minLength": 1}, "delivery_address": {"title": "Delivery address", "type": "string", "minLength": 1}, "delivery_instructions": {"title": "Delivery instructions", "type": "string", "x-nullable": true}, "payment_method": {"title": "Payment method", "type": "string", "enum": ["momo", "card", "bank", "cash"]}, "payment_method_display": {"title": "Payment method display", "type": "string", "minLength": 1}, "payment_status": {"title": "Payment status", "type": "string", "enum": ["pending", "paid", "failed", "refunded", "partially_refunded"]}, "payment_status_display": {"title": "Payment status display", "type": "string", "minLength": 1}, "escrow_status": {"title": "Escrow status", "type": "string", "enum": ["not_applicable", "held", "released", "refunded"]}, "escrow_status_display": {"title": "Escrow status display", "type": "string", "minLength": 1}, "timeline": {"type": "array", "items": {"$ref": "#/definitions/OrderTimeline"}, "readOnly": true}, "estimated_delivery": {"title": "Estimated delivery", "type": "string", "format": "date-time", "x-nullable": true}, "created_at": {"title": "Created at", "type": "string", "format": "date-time", "readOnly": true}}}, "ProductsMarketplaceCategory": {"required": ["name"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 255, "minLength": 1}, "icon": {"title": "Icon", "type": "string", "maxLength": 10}, "count": {"title": "Count", "type": "integer", "readOnly": true}}}, "ProductImage": {"required": ["url"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "product": {"title": "Product", "type": "string", "format": "uuid", "readOnly": true}, "url": {"title": "Url", "type": "string", "format": "uri", "minLength": 1}, "thumbnail_url": {"title": "Thumbnail url", "type": "string", "readOnly": true}, "optimized_url": {"title": "Optimized url", "type": "string", "readOnly": true}, "width": {"title": "Width", "type": "integer", "readOnly": true, "x-nullable": true}, "height": {"title": "Height", "type": "integer", "readOnly": true, "x-nullable": true}, "format": {"title": "Format", "type": "string", "readOnly": true, "minLength": 1, "x-nullable": true}, "display_order": {"title": "Display order", "type": "integer", "readOnly": true}, "created_at": {"title": "Created at", "type": "string", "format": "date-time", "readOnly": true}}}, "Seller": {"required": ["email"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "name": {"title": "Name", "type": "string", "readOnly": true}, "email": {"title": "Email address", "type": "string", "format": "email", "maxLength": 254, "minLength": 1}, "avatar": {"title": "Avatar", "type": "string", "readOnly": true}, "rating": {"title": "Rating", "type": "string", "readOnly": true}}}, "Product": {"required": ["title", "description", "location", "seller"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "title": {"title": "Title", "type": "string", "maxLength": 255, "minLength": 1}, "description": {"title": "Description", "type": "string", "minLength": 1}, "price": {"title": "Price", "type": "string", "format": "decimal"}, "originalPrice": {"title": "Originalprice", "type": "string", "format": "decimal", "readOnly": true}, "images": {"type": "array", "items": {"$ref": "#/definitions/ProductImage"}, "readOnly": true}, "category": {"$ref": "#/definitions/ProductsMarketplaceCategory"}, "condition": {"title": "Condition", "type": "string", "readOnly": true, "minLength": 1}, "location": {"title": "Location", "type": "string", "maxLength": 100, "minLength": 1}, "seller": {"$ref": "#/definitions/Seller"}, "badges": {"title": "Badges", "type": "string", "readOnly": true, "minLength": 1}, "status": {"title": "Status", "type": "string", "readOnly": true, "minLength": 1}, "views": {"title": "Views", "type": "integer", "readOnly": true}, "likes": {"title": "Likes", "type": "integer", "readOnly": true}, "isNightShop": {"title": "Isnightshop", "type": "boolean", "readOnly": true}, "createdAt": {"title": "Createdat", "type": "string", "format": "date-time", "readOnly": true}}}, "CreateProduct": {"required": ["title", "description", "category", "location", "delivery_options"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "title": {"title": "Title", "type": "string", "maxLength": 255, "minLength": 1}, "description": {"title": "Description", "type": "string", "minLength"
[...]
