:root {
	--background-dark: hsla(0, 0%, 4%, 1);
	--card-bg-dark: hsla(0, 0%, 16%, 1);
	--card-bg-light: hsla(0, 0%, 100%, 1);
	--background-light: hsla(0, 0%, 96%, 1);
	--primary-light: hsla(19, 89%, 60%, 1);
	--primary-dark: hsla(19, 100%, 68%, 1);
}
